.title {
  color: #f8f5ff;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin: 0 auto;
  margin-top: 86px;
  width: 722px;
}

#contact-form{
  width: 848px;
  margin: auto;
  background: #ffffff;
  border-radius: 12px;
  padding: 41px 45px;
  margin-top: 100px; 

  box-shadow: 0px 27px 80px 0px rgba(135, 135, 135, 0.07), 0px 6.031px 17.869px 0px rgba(135, 135, 135, 0.04), 0px 1.796px 5.32px 0px rgba(135, 135, 135, 0.03);
}

 label {
  font-size: 16px;
  line-height: 24px;
  color: #1C1C1C;
  margin-bottom: 7px;
  font-weight: 600;
  display: inline-block;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.form-row .contact-form-control:first-child {
  flex-grow: 1;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #E4E8F0;
  border-radius: 5px;
  font-size: 16px;
  background-color: #F4F6F9;
}

.btn-block {
  text-align: right;
}

.yellow-btn {
  background-color: #ffc107;
  color: #1c1c1c;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


