<h1 class="title">Contact us and get answers to your questions</h1>
<section id="contact-form">
  <div class="contact-form">
    <div class="contact-form-control">
      <label>How to address you? </label>
      <input
        type="text"
        name="name"
        value=""
        placeholder="Name &amp; Surname"
      />
    </div>
    <div class="form-row">
      <div class="contact-form-control">
        <label>Email</label>
        <input type="email" name="email" value="" placeholder="Email" />
      </div>
      <div class="contact-form-control">
        <label>Contact number</label>
        <input
          type="tel"
          name="phone"
          value=""
          placeholder="Enter phone number"
          id="telephone2"
          autocomplete="off"
          style="padding-left: 90px"
        />
      </div>
    </div>
    <div class="contact-form-control contact-textarea">
      <label>Message</label>
      <textarea
        name="message"
        rows="4"
        placeholder="Share your ideas and opinion"
      ></textarea>
    </div>

    <div class="contact-form-control btn-block">
      <button class="button yellow-btn">Send message</button>
    </div>
  </div>
</section>
<section class="addresses">
  <h1 class="cards-title">Our addresses</h1>

  <div class="cards-block">
    <div class="address-card">
      <img src="assets/images/uk.png" alt="UK flag" class="flag" />
      <div class="address-card-title">United Kingdom</div>
      <div class="address-card-subtitle">
        Salisbury House, 29 Finsbury Circus, London, EC2M 5QQ, United Kingdom
      </div>
      <div class="address-card-contact">
        <img
          src="assets/icons/tel.svg"
          alt="Telephone svg icon"
          class="contact-icon"
        />
        <div class="contact-info">+442045773333</div>
      </div>
    </div>

    <div class="address-card">
      <img src="assets/images/canada.svg" alt="UK flag" class="flag" />
      <div class="address-card-title">Canada</div>
      <div class="address-card-subtitle">
        7A Luttrell Avenue, Toronto, Ontario, Canada, M4C 5E2
      </div>
      <div class="address-card-contact">
        <img
          src="assets/icons/tel.svg"
          alt="Telephone svg icon"
          class="contact-icon"
        />
        <div class="contact-info">+1(647)781-1833 (Kamal Hasanov)</div>
      </div>
    </div>

    <div class="address-card">
      <img src="assets/images/united_states.svg" alt="UK flag" class="flag" />
      <div class="address-card-title">
        GUAVAPAY USA CO.<br />(NMLS ID 2186518)
      </div>
      <div class="address-card-subtitle">
        Spectrum Office Centre (Suite 140-17), 175 Olde Half Day Road,
        Lincolnshire, IL 60069
      </div>
      <div class="address-card-contact">
        <img
          src="assets/icons/tel.svg"
          alt="Telephone svg icon"
          class="contact-icon"
        />
        <div class="contact-info">+1(773)441-1808 (Hasanov Farid)</div>
      </div>
    </div>
    
    <div class="address-card">
      <img src="assets/images/lithuania.svg" alt="UK flag" class="flag" />
      <div class="address-card-title">Guavapay Europe UAB<br />(Lithuania)</div>
      <div class="address-card-subtitle">Žemaitijos g. 3, Vilnus, LT-01134</div>
      <div class="address-card-contact">
        <img
          src="assets/icons/tel.svg"
          alt="Telephone svg icon"
          class="contact-icon"
        />
        <div class="contact-info">+370(687)45-997 (Viaceslavas Lelesius)</div>
      </div>
    </div>

    <div class="address-card">
      <img src="assets/images/turkey.svg" alt="UK flag" class="flag" />
      <div class="address-card-title">GUAVAPAY ELEKTRONİK PARA<br>VE ÖDEME HİZMETLERİ ANONİM<br>ŞİRKETİ (TURKEY)</div>
      <div class="address-card-subtitle">
        Büyükdere Caddesi , Kırgülü Sok., Metrocıty İş Merkezı D Blok No:4, Sisli, Istanbul 34394, TR, Istanbul, 34394
      </div>
      <div class="address-card-contact">
        <img
          src="assets/icons/tel.svg"
          alt="Telephone svg icon"
          class="contact-icon"
        />
        <div class="contact-info">+90(212)319-3815 (Vugar Mammadrzayev)</div>
      </div>
    </div>

  </div>
</section>
