<section class="section-termsConditions">
  <div class="container">
    <div class="title">Terms & Conditions</div>
      <div class="head">1. About Tonio Limited</div>
      <div>
        1.1. Tonio Limited is a company incorporated in England (company number – 05103590), is an online
money transfer service (“Service”), with registered office at  8 New Street, Leicester, England, LE1
5NR, United Kingdom.<br>
1.2. Tonio Limited is an Authorised Payment Institution regulated by the Financial Conduct Authority
(reference number - 572541).<br>
1.3. These terms and conditions exclusively apply to money transfers initiated through our website,
Tonio.world ("Website"), or our mobile phone application designed for residents of the United Kingdom
("App").<br>
      </div>
      <div class="head">2. Tonio Limited Service</div>
      <div>
        2.1. The Service enables a Sender to initiate a money transfer ("Sender") through our Website or App
to a specified individual (the "Recipient") as a single transaction (referred to as a "Transfer").
Depending on the Sender's choice and the availability of each product in the receiving country, the
Recipient can then: (i) receive the Transfer in their designated bank account specified
by the Sender ("Account Deposit"); or (ii) receive the Transfer by card transfer ("Card Transfer").<br>
2.2. All transfers must be funded directly through bank transfer, credit or debit card or other payment
method offered by Tonio Limited.<br>
2.3. To utilize the Service, the Sender must create a profile on our Website or the App ("Profile"). It is
mandatory for the Sender to keep their personal information in the Profile up to date in the event of
any changes before initiating a Transfer. If you wish to close your Profile, please get in touch with our
customer service helpline<br>
2.4. You cannot set up a TONIO LIMITED Profile: if you’re not yet 18 years of age; if you already have
a TONIO LIMITED Profile; if you previously had a TONIO LIMITED Profile with us, which we had to
close; to use it to pay for any Prohibited Activities; or if onboarding you would mean that we would
break the law or any one of our policies. We reserve the right to terminate or suspend access to a
Profile at any time, under the following circumstances, including but not limited to: (a) if the Sender
attempts to transfer or charge funds from a credit or debit card that does not belong to them; (b) if the
Sender's card issuer attempts to charge back a Transfer based on a dispute related to a Transfer; (c)
if the Sender provides incorrect or false information about themselves, their debit or credit card details,
or a Recipient; (d) if the Sender has violated these terms and conditions; (e) if we determine that the
Profile has remained inactive for a significant period of time; or (f) if we have reason to believe that a
Transfer has been used for unlawful purposes. We may monitor transactions made using our services
for suspicious activity and fraud. If we suspect that you are using our services in an unlawful manner
or in breach of these terms, we may immediately end or suspend your use of our services.<br>

      </div>
      <div class="head">3. What is a Transfer</div>
      <div>
        We provide a money transfer service (“Transfer”) which allows you to send money to other people by
using your TONIO LIMITED Profile. Each time you make a Transfer, these terms are incorporated into
the terms of each Transfer.<br>
We can make a Transfer if you provide us with certain information about you and the recipient. The
information we need from you depends on how you send the funds and how the recipient will receive
the funds.<br>

<table>
  <tr>
    <th>How you send, or how
      the recipient, receives
      the funds</th>
      <th>What recipient information you must give us
      </th>
  </tr>
  <tr>
    <td>Bank account</td>
    <td>account details as required by the recipient’s account provider. For
      example, if you’re paying someone in the UK, you’ll need their name,
      sort code and account code. If you’re paying someone outside the
      UK, you might need their IBAN or BIC/SWIFT.</td>
  </tr>
  <tr>
    <td>Card transfer</td>
    <td>name and the recipient’s 16-digit card number. For this type of
      payment, the payment is sent via a card scheme (such as Mastercard
      or Visa).</td>
  </tr>
  <!-- <tr>
    <td>Cash pick-up</td>
    <td>name plus any other information our local partner may require to
      identify the recipient (such as details about the recipient’s local
      identification documents and address).</td>
  </tr> -->
</table>
      </div>
      You must provide us with the recipient’s correct details. Not doing so means your payment could be
      delayed or it could go to the wrong person. Depending on the legal requirements of a recipient’s
      location, we may also ask for more information about you or the recipient. To continue making a
      Transfer, you’ll be prompted to fund your Transfer (see Funding your Transfer section below). Once
      you enter these details and fund your Transfer, you’ve authorised a Transfer. We’ll only be able to
      make a Transfer if you’ve funded it using an account or card in your name. If you want to make a
      Transfer in: the same currency as your funding currency, we may charge a fee; or a currency that is
      different to the account or card you used to make a Transfer, we may charge a fee and will
      exchange your money using our exchange rate at the time of the payment. The fees and exchange
      rate for a Transfer will be immediately made available to you. We’ll always tell you of any Transfer
      fees and any applicable exchange rates before you make a Transfer.<br>
      <div>

      </div>
      <div class="head">4. Funding your Transfer</div>
      <div>
        In order to facilitate a Transfer, Tonio Limited offers a variety of funding methods, all accessible through
the Tonio Limited app or website. This includes options such as bank transfers or card payments. It's
crucial to note that Tonio Limited will only accept funds originating from an account or card registered
under your name. Tonio Limited will proceed with your Transfer as soon as we receive the funds or
once our third-party partners confirm the funds' availability. In the event we do not receive the funds
or if the funds do not reach us within a reasonable timeframe, we reserve the right to reverse the
credited amount. If you lack sufficient funds to accommodate this reversal, you are obliged to
reimburse us immediately upon request.<br>
It's important to underline that Tonio Limited does not hold customer funds under any
circumstances. All funds will either be remitted to the beneficiary upon successful transaction
completion or returned to the client if the transaction is rejected<br>

      </div>

      <div class="head">5. Execution of the Transfer</div>
      <div>
        5.1. Before the Sender submits a Transfer, we will provide the following information based on the
Sender's selection: (i) the amount to be sent by the Sender ("Send Amount"); (ii) the amount the
Recipient will receive; (iii) the fees charged to the Sender for the Transfer ("Fees"); (iv) the applicable exchange rate for the Transfer; and (v) the expected execution time (i.e., when the funds will be
available to the Recipient).<br>
5.3. A Transfer will be accepted, and a valid binding contract will be established, when we send an
email to the Sender containing the following information: (i) the reference number required by the
Recipient to receive the Transfer ("Reference Number"); (ii) confirmation of the exact amount to be
made available to the Recipient in the chosen pay-out currency ("Receive Amount"); (iii) confirmation
of the Fees charged; (iv) the exchange rate applied to the Transfer; and (v) the execution time (i.e.,
when the funds will be available to the Recipient) ("Acceptance").<br>
5.4. We reserve the right, at our sole discretion, to refuse acceptance of a Transfer in the following
circumstances: (a) if accepting the Transfer would result in a violation of any applicable law, regulation,
code, or duty; (b) if accepting the Transfer could subject us to action from any government or regulator;
(c) if the Transfer is associated with fraudulent or illegal activity or is intended for an unlawful purpose;
or (d) if we have made a decision to refuse acceptance in accordance with our internal policies. In
such cases, we will strive, to the extent permitted by law and our internal policies, to provide the reason
for refusing to accept the Transfer.<br>
      </div>
<!-- <div class="head">6. Cash Pick-Up Service with Tonio Limited</div>
<div>
  Tonio Limited offers a secure and convenient service called "Cash Pick-Up," which enables recipients
to receive funds in physical cash from designated pick-up locations. This service provides an
alternative for recipients who prefer receiving cash instead of having funds deposited into their bank
accounts. Here's a step-by-step explanation of how the Cash Pick-Up service works:<br>
1. Initiating the Transaction: Log in to your Tonio Limited profile and select the Cash Pick-Up option.
Enter the recipient's details, including their full name as it appears on their identification document and
their location.<br>
2. Choosing a Pick-Up Location: Based on the recipient's location, you will be provided with a list of
available pick-up locations. These locations can include partner banks, financial institutions, or retail
outlets. Select the most convenient pick-up location for the recipient.<br>
3. Transferring Funds: Once you have selected the recipient's information and pick-up location,
proceed with transferring the funds. If necessary, the funds will be converted from your currency to the
recipient's local currency.<br>
4. Confirmation and Collection Code: After a successful transfer, both you and the recipient will receive
a confirmation message containing a unique collection code. The recipient must present this code
along with their identification document when collecting the cash.<br>
5. Cash Collection: The recipient can visit the chosen pick-up location at their convenience and provide
the collection code and their identification to collect the cash.<br>
Please be aware that the cash pick-up times and regulations may vary depending on the specific pickup location. It is crucial to ensure that the recipient has all the necessary details to successfully collect
the funds.<br>

</div> -->
<div class="head">6. Transfer to Bank Account</div>
<div>
  With Tonio Limited, sending money directly to a bank account is a straightforward process, designed
to ensure a seamless and secure transfer experience. You can easily make a bank transfer through
our website or mobile application, using the following steps:<br>
1. Login: First, access your Tonio Limited profile by logging in through our website or mobile
application. Navigate to the transaction section to initiate a new transfer.<br>
2. Transfer Details: Select the 'Bank Transfer' option for sending money. You will be required to fill in
the recipient's necessary details such as their full name, contact information, and their bank account
details, including the bank name, account number, and sort code or IBAN, as applicable.<br>
3. Set Transfer Amount: Decide the amount of money you wish to send. Tonio Limited will display the
exchange rate and any fees associated with your transfer. This way, you will know the exact amount
the recipient will receive in their local currency.<br>
4. Payment Method: Next, choose your preferred payment method. Tonio Limited supports various
payment methods, including bank transfers, debit or credit card payments<br>
5. Review and Confirm: Before finalizing the transfer, take a moment to review all the details you've
entered. Ensure that the recipient's bank account information is correct to avoid any delays or issues.
Once you're confident that all the details are accurate, confirm the transaction.<br>
6. Transfer Initiation: After confirming the details and completing the payment, your transfer will be
initiated. You will receive a confirmation message, and a transaction reference number, which you can
use to track the progress of your transfer.<br>
7. Notification to Recipient: Upon successful transfer, the recipient will be notified via email or SMS,
informing them about the incoming funds.<br>
At Tonio Limited, we aim to ensure that each bank transfer is processed quickly and securely. We
value your trust and are dedicated to offering efficient money transfer services, no matter the distance
or the destination.<br>
</div>
<div class="head">7. Transfer to a Card</div>
<div>
  With Tonio Limited, sending money directly to a recipient’s card is a straightforward process, designed
to ensure a seamless and secure transfer experience. You can easily make a card transfer through
our website or mobile application, using the following steps:<br>
1. Login: First, access your Tonio Limited profile by logging in through our website or mobile
application. Navigate to the transaction section to initiate a new transfer.<br>
2. Transfer Details: Select the 'Card Transfer' option for sending money. You will be required to fill in
the recipient's necessary details such as their full name, and the recipient’s 16-digit card number.<br>
3. Set Transfer Amount: Decide the amount of money you wish to send. Tonio Limited will display the
exchange rate and any fees associated with your transfer. This way, you will know the exact amount
the recipient will receive in their local currency.<br>
4. Payment Method: Next, choose your preferred payment method. Tonio Limited supports various
payment methods, including bank transfers, debit or credit card payments<br>
5. Review and Confirm: Before finalizing the transfer, take a moment to review all the details you've
entered. Ensure that the recipient's bank account information is correct to avoid any delays or issues. <br>
Once you're confident that all the details are accurate, confirm the transaction.<br>
6. Transfer Initiation: After confirming the details and completing the payment, your transfer will be
initiated. You will receive a confirmation message, and a transaction reference number, which you can
use to track the progress of your transfer<br>
7. Notification to Recipient: Upon successful transfer, the recipient will be notified via email or SMS,
informing them about the incoming funds.<br>

</div>
<div class="head">8. Cancellations and Refunds</div>
<div>
  8.1. Once a transfer is accepted, it becomes irreversible. However, the sender has the right to cancel
a transfer if it has not been collected, received by the recipient, or credited into the recipient's account.
The sender can request cancellation through our website, mobile app, or customer service helpline.
In the case of cancellation, only the send amount will be refunded.<br>
8.2. If a transfer was unauthorized by the sender or not executed correctly by us, we will refund the
send amount and the fee in accordance with applicable law, provided that (i) the sender notifies us promptly upon becoming aware of the issue, and (ii) the situation is not caused by abnormal and
unforeseeable circumstances beyond our control.<br>
8.3. It is essential for the sender to promptly notify us in case of an unauthorized or incorrectly executed
transfer. We will not process a refund if the sender unduly delays reporting the problem or notifies us
more than 13 months after the transfer acceptance. <br>
</div>
<div class="head">9. Charges and Currency Exchange</div>
<div>
  9.1. The sender is responsible for paying the transfer fee via the selected payment method, which is
the only fee we charge. The sender's card issuer may impose additional fees related to the payment
for the transfer.<br>
9.2. In certain recipient countries, local taxes and service charges may be applied at the time of
collection. For account deposits, the recipient's bank or account provider may charge a fee for
receiving the funds.<br>
9.3. When the sender pays for a transfer in one currency and selects another currency for payout,
the send amount will be converted using our exchange rate. Our exchange rate is based on closing
rates in the global financial markets, with a margin. Exchange rates are subject to market fluctuations
beyond our control and may change multiple times a day<br>
9.4. In some countries, currency conversion occurs only at the time of collection due to local
requirements. In such cases, the exchange rate stated in clause 3.1 is only an estimate, and the actual
exchange rate will be determined at the time of collection, which may affect the receive amount.<br>
<!-- 10.5. For cash pickup transfers to recipient countries outside of the European Economic Area (EEA),
if the receive amount is stated in USD and the collection location does not distribute funds in USD, the
send amount will be converted into the local currency using standard exchange rate.<br> -->
</div>
<div class="head">10. Our Liability</div>
<div>
  10.1. We are not obligated to execute a transfer if (a) we cannot obtain satisfactory evidence of the
sender's identity, (b) we have reason to believe the sender's information is incorrect, unauthorized, or
forged, (c) the sender provides us with incorrect or incomplete information, or (d) as specified in clause<br>
3.4. We shall not be liable for damages resulting from non-payment, delayed payment, or failure to
perform a transfer under the service due to any of these reasons.<br>
10.2. We will not be held liable if we fail to fulfil this agreement due to abnormal and unforeseeable
circumstances beyond our control, where we could not avoid breaking the agreement despite our best
efforts (e.g., force majeure events). We will not be responsible for any incidental, indirect, or
consequential damages suffered by the sender.<br>
10.3. This clause 9 does not exclude or limit liability on our part for death or personal injury resulting
from our negligence or fault, nor does it exclude liability for our intentional misconduct, gross
negligence, or fraud.<br>
</div>
<div class="head">11. Data Protection and Privacy</div>
<div>
  By using our service, the sender gives their consent to the collection, use, disclosure, and transfer
(including cross-border transfer) of their personal information as outlined in our Privacy Notice. The
Privacy Policy can be accessed by contacting us at info&#64;tonio.world. We are legally obligated to
process the personal data of the sender and recipient for the purpose of preventing money laundering
and terrorist financing, specifically under Regulation (EU) 2015/847.<br>
</div>
<div class="head">12. Customer Service and Complaints</div>
<div>
  12.1. We are committed to providing the sender with high-quality service. If a sender is dissatisfied
with our service or believes that a transfer has not been executed correctly, they should contact us as
soon as possible. For questions, complaints, or any other matters, the sender can reach us through
the following channels:<br>
Email: info&#64;tonio.world<br>
Mail: Customer Service Department, Tonio Limited, 8 New Street, Leicester, England,
Le1 5nr, United Kingdom<br>
12.2. We will promptly and fairly address any complaints received. Our aim is to resolve the complaint
at the earliest opportunity. If we require additional time to resolve a complaint, we will send the sender
a final response letter within 15 business days from the receipt of the complaint. In exceptional
circumstances, a holding reply will be sent within 15 business days, specifying the deadline for the
sender to receive our final response, which will be no later than 35 business days from the initial
complaint date. If the sender does not receive our final response or remains unsatisfied with it, they
can contact The Financial Ombudsman Service at Exchange Tower, London E14 9SR. Phone: 0800
023 4567, Website: www.financial-ombudsman.org.uk, Email: complaint.info&#64;financialombudsman.org.uk. The sender should initiate contact within 6 months from the date of the final
response.<br>
12.3. The European Commission has made available a leaflet for consumers making payments in
Europe.<br>
</div>
<div class="head">13. Governing Law</div>
13.1. The terms and conditions, along with any non-contractual relationships associated with it, are
subject to English law. The English courts shall have non-exclusive jurisdiction for any disputes. This
provision does not affect the sender's statutory rights.<br>
13.2. Any person who is not a party to the contract between the sender and us does not have any
rights under the Contracts (Rights of Third Parties) Act 1999 or any other means to enforce this
contract.<br>
COPYRIGHT © 2023 Tonio Limited ALL RIGHTS RESERVED<br>
Tonio Limited IS AN FCA (FINANCIAL CONDUCT AUTHORITY) AUTHORIZED PAYMENT
INSTITUTION WITH A FIRM REFERENCE NUMBER OF 572541 <br>
Tonio Limited IS REGISTERED IN ENGLAND AND WALES WITH THE REGISTRATION NUMBER
05103590 AND ITS REGISTERED OFFICE ADDRESS IS  8 NEW STREET, LEICESTER, ENGLAND,
LE1 5NR TONIO LIMITED IS A REGISTERED TRADEMARK IN THE UK.
A REGISTERED TRADEMARK PROVIDES THE OWNER WITH LEGAL PROTECTION AND
EXCLUSIVE RIGHTS TO USE THE TRADEMARK FOR THE GOODS OR SERVICES SPECIFIED
IN THE REGISTRATION.<br>


  </div>