
<div class="custom-card-block">
<div class="custom-card card-1">
  <div style="height: 359px">
    <!-- <img src="assets/images/signIn.png" alt="interface" /> -->
  </div>
  <div class="custom-card-overlay-1"></div>
  <div class="custom-card-body">
    <p class="custom-card-title aos-init" data-aos="fade-up">Become Our Agent</p>
    <p class="custom-card-subtitle aos-init" data-aos="fade-up">
      Become a part of our growing network of agents. Enjoy flexible hours, competitive commissions, and support from our dedicated team. Sign up now and start earning with us!
    </p>
    <a
      href="https://agent.tonio.world/auth/login"
      target="blank"
      class="button button-1 purple-btn aos-init"
      data-aos="fade-up"
      >Become an Agent</a
    >
  </div>
</div>
<div class="custom-card card-2">
  <div style="height: 359px;">
    <!-- <img src="assets/images/SeeLocations.png" alt="planet" /> -->
  </div>
  <div class="custom-card-overlay-2"></div>
  <div class="custom-card-body">
    <p class="custom-card-title aos-init" style="color: white" data-aos="fade-up">
      Send Money Quickly and Securely
    </p>
    <p class="custom-card-subtitle aos-init" style="color: white;" data-aos="fade-up">
      Our Mob/Web App allows you directly to send money instantly and safely. Join us today for a seamless money transfer experience!
    </p>
    <a href="https://account.tonio.world/auth/login"
    target="blank"
      class="button purple-btn aos-init"
      data-aos="fade-up"
      >Start right now!</a
    >
  </div>
</div>
</div>
