<section id="way-to-pay">
  <h3 class="title aos-init aos-animate" data-aos="fade-up">
    Convenience of choosing the way to pay for your online transfer
  </h3>
  <div class="custom-card-block">
    <div class="custom-card aos-init aos-animate" data-aos="fade-up">
      <div class="custom-card-header">
        <img src="assets/images/card-2.png" alt="payment card" />
      </div>
      <div class="custom-card-body">
        <p class="custom-card-title">Payment card<span class="live-label">Live</span>
        </p>
        <p class="custom-card-subtitle">
          Pay for your transfer directly from your payment card. Please
          remember, that credit card payments may incur a fee from your credit
          card issuer
        </p>
      </div>
    </div>
    <div class="custom-card aos-init aos-animate" data-aos="fade-up">
      <div class="custom-card-header">
        <img src="assets/images/card-1.png" alt="bank deposit" />
      </div>
      <div class="custom-card-body">
        <p class="custom-card-title">Bank deposit <span class="label">Coming soon</span>
        </p>
        <p class="custom-card-subtitle">
          Pay for your transfer directly from Tonio’s bank account to another
          bank account. The money will be transferred the same day, usually
          within a few minutes
        </p>
      </div>
    </div>
    
    <div class="custom-card aos-init aos-animate" data-aos="fade-up">
      <div class="custom-card-header">
        <img src="assets/images/card-3.png" alt="open banking" />
      </div>
      <div class="custom-card-body">
        <p class="custom-card-title">
          Open Banking <span class="label">Coming soon</span>
        </p>
        <p class="custom-card-subtitle">
          A new feature that enables you to pay for the transfer directly from
          any digital bank account that you use. Sign up and choose among the
          list of digital banks to transfer funds fast and seamlessly
        </p>
      </div>
    </div>
  </div>
</section>
