footer {
  background: linear-gradient(180deg, #1c1b1b 44.42%, #3a3a3a 100%);
  padding-top: 60px;
  display: flex;
  color: white;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
}

.footer-menu-block {
  display: flex;
  justify-content: space-between;
  max-width: 690px;
  width: 100%;
}
li {
  list-style: none;
  margin-bottom: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}
.footer-menu-list li:first-child {
  margin-bottom: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.footer-right-block {
  display: flex;
  max-width: 235px;
  width: 100%;
  justify-content: space-between;
}
.footer-right-block .footer-icon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-right-block .footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f4f9;
  border-radius: 12px;
  width: 64px;
  height: 64px;
  margin-bottom: 14px;
}

.logo {
  display: flex;
  align-items: center;
  z-index: 1000;
}
.logo img {
  height: 27px;
}

.copyright {
  margin-top: 73px;
}

.copyright-text {
  margin: 0;
}
.business-btn {
  margin-top: 49px;
}

.business-btn,
.business-btn img {
  color: #1c1c1c;
}

footer .copyright .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.social-links {
  display: flex;
  gap: 12px;
  align-items: center;
}

.card-logo {
  display: flex;
  gap: 35px;
  align-items: center;
  margin-right: 48px;
}

.footer-left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-menu-block {
    max-width: unset;
  }

  .footer-right-block {
    align-self: center;
  }
}

@media only screen and (max-width: 757px) {
  .copyright-text {
    font-size: 14px;
  }

  .copyright-text-break {
    display: none;
  }
}
