<footer>
  <div class="container">
      <div class="footer-left-block">
          <a href="/" class="logo"><img src="assets/images/logo.png " alt="logo MyGuava Transfers"></a>
      </div>
      <div class="footer-menu-block">
          <ul class="footer-menu-list">
              <li><a href="#">Help</a></li>
              <li><a href="/main/help">Help Center</a></li>
              <li><a href="/main/faq">FAQ</a></li>
              
              <li><a href="/main/card">Credit/debit card</a></li>
          </ul>

          <ul class="footer-menu-list">
              <li><a href="#">Legal</a></li>
              <li><a href="/main/terms">Terms of Service</a></li>
              <li><a routerLink='/privacy-policy' routerLinkActive="router-link-active">Privacy policy</a></li>
              <li><a href="/main/cookies">Cookies policy</a></li>
          </ul>

          <ul class="footer-menu-list">
              <li><a href="#">Company</a></li>
              <li><a href="/main/about">About</a></li>
              <li><a href="/main/contact">Contact us</a></li>
              <li><a href="/blog">News/Blog</a></li>
          </ul>
        
      </div>
      <div class="footer-right-block">
          <a href="/main/transfer" class="footer-icon-block">
                  <span class="footer-icon">
                      <img src="assets/icons/search 1.svg" alt="search">
                  </span>
              <span class="footer-icon-text">Track a transfer</span>
          </a>
          <a href="/main/location" class="footer-icon-block">
              <div class="footer-icon">
                  <img src="assets/icons/map-pin 1.svg" alt="map pin">
              </div>
              <span class="footer-icon-text">Find location</span>
          </a>
      </div>
  </div>
  <div class="copyright">
      <div class="container">
          <p class="copyright-text">© <script type="text/javascript">document.write(new Date().getFullYear());</script>2024 Guavapay Limited. All rights reserved.</p>
          
          <div class="social-links">
              <div class="card-logo">
                  <img src="assets/icons/visa.svg" alt="visa">
                  <img src="assets/icons/mastercard.svg" alt="mastercard">
              </div>
              <a href="https://www.facebook.com/remiton0" target="_blank"><img src="/public/images/icon/facebook.svg" alt="facebook"></a>
              <a href="https://www.instagram.com/remiton.global/" target="_blank"><img src="/public/images/icon/instagram.svg" alt="instagram"></a>
              <a href="https://twitter.com/remitonglobal" target="_blank"><img src="/public/images/icon/twitter.svg" alt="twitter"></a>
              <a href="https://www.linkedin.com/company/remiton8/" target="_blank"><img src="/public/images/icon/linkedin.svg" alt="linkedin"></a>
          </div>
      </div>
  </div>
 
</footer>