<footer>
  <div class="container">
    <div class="footer-left-block">
      <a href="/" class="logo"
        ><img src="assets/images/logo.svg " alt="logo MyGuava Transfers"
      /></a>
      @if (!isOnBusiness()){
      <a
        routerLink="go-to-business"
        routerLinkActive="router-link-active"
        class="button business-btn"
      >
        Go to business
        <img width="16" src="assets/icons/arrow-right.svg" />
      </a>
      } @else{
      <a
        routerLink="/"
        routerLinkActive="router-link-active"
        class="button business-btn"
      >
        Go to individual
        <img width="16" src="assets/icons/arrow-right.svg" />
      </a>

      }
      
    </div>
    <div class="footer-menu-block">
      <ul class="footer-menu-list">
        <li><a>Help</a></li>
        <li>
          <a routerLink="/help" routerLinkActive="router-link-active"
            >Help Center</a
          >
        </li>
        <li>
          <a routerLink="/help-center" routerLinkActive="router-link-active"
            >FAQ</a
          >
        </li>

        <li>
          <a
            routerLink="/help/credit-card"
            routerLinkActive="router-link-active"
            >Credit/debit card</a
          >
        </li>
      </ul>

      <ul class="footer-menu-list">
        <li><a>Legal</a></li>
        <li>
          <a
            routerLink="/terms-and-conditions"
            routerLinkActive="router-link-active"
            >Terms of Service</a
          >
        </li>
        <li>
          <a routerLink="/privacy-policy" routerLinkActive="router-link-active"
            >Privacy policy</a
          >
        </li>
      </ul>

      <ul class="footer-menu-list">
        <li><a>Company</a></li>
        <li>
          <a routerLink="/about-us" routerLinkActive="router-link-active"
            >About</a
          >
        </li>
        <li>
          <a routerLink="/contact-us" routerLinkActive="router-link-active"
            >Contact us</a
          >
        </li>
        <li>
          <a routerLink="/blog" routerLinkActive="router-link-active"
            >News/Blog</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-right-block">
      <!-- <a
        routerLink="/track-transfer"
        routerLinkActive="router-link-active"
        class="footer-icon-block"
      >
        <span class="footer-icon">
          <img src="assets/icons/search 1.svg" alt="search" />
        </span>
        <span class="footer-icon-text">Track a transfer</span>
      </a>
      <a
        routerLink="/find-location"
        routerLinkActive="router-link-active"
        class="footer-icon-block"
      >
        <div class="footer-icon">
          <img src="assets/icons/map-pin 1.svg" alt="map pin" />
        </div>
        <span class="footer-icon-text">Find location</span>
      </a> -->
      <a
        href="https://apps.apple.com/az/app/tonio-transfers/id6587574602"
        target="_blank"
        ><img src="/assets/icons/apple-store-badge.svg"
      /></a>
      <a
        href="https://play.google.com/store/apps/details?id=com.world.tonio"
        target="_blank"
        ><img
          style="margin-left: 8px"
          src="/assets/icons/google-store-badge.svg"
      /></a>
      <div style="grid-column: span 2">
       <!-- TrustBox widget - Review Collector -->
<div class="trustpilot-widget" data-locale="en-GB" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="66f156a1c7db1c08dc04d969" data-style-height="52px" data-style-width="100%">
  <a href="https://uk.trustpilot.com/review/tonio.world" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container copyright-top">
      <div>
        ©
        {{currentYear}} TONIO Limited. All rights reserved.
      </div>

      <div class="social-links">
        <div class="card-logo">
          <img src="assets/icons/visa.svg" alt="visa" />
          <img src="assets/icons/mastercard.svg" alt="mastercard" />
        </div>
        <a
          href="https://www.facebook.com/people/Tonio/100088100730315/"
          target="_blank"
          ><img src="assets/icons/Facebook1.svg" alt="facebook"
        /></a>
        <a href="https://www.instagram.com/toniocis/" target="_blank"
          ><img src="assets/icons/Instagram1.svg" alt="instagram"
        /></a>
        <!-- <a href="https://twitter.com/tonio_co_uk" target="_blank"
          ><img src="assets/icons/Twitter1.svg" alt="twitter"
        /></a> -->
        <a href="https://www.linkedin.com/company/tonio-app/" target="_blank"
          ><img src="assets/icons/LinkedIn1.svg" alt="linkedin"
        /></a>
      </div>
    </div>

    <p class="container copyright-text">
      Tonio Limited registered by Company number 05103590, registered with
      Financial Conduct Authority as a Authorised Payment Institution with
      reference number 572541<br />
      Dawson House, 5 Jewry Street, London, EC3N 2EX<br />
      <br />
      <a href="mailto:info&#64;tonio.world"> info&#64;tonio.world</a>
    </p>
  </div>
</footer>
