<section id="why-remiton">
  <h3 class="title aos-init aos-animate" data-aos="fade-up">
    Why Tonio?
  </h3>
  <div class="custom-card-block">
    <div class="custom-card aos-init aos-animate" data-aos="fade-up">
      <div class="custom-card-img">
        <img src="assets/icons/Coverage.png" alt="global coverage" />
      </div>
      <div class="custom-card-body">
        <p class="custom-card-title">Global coverage</p>
        <p class="custom-card-subtitle">
          We transfer money to +100 countires all over the world
        </p>
        <span>+100</span>
      </div>
    </div>

    <div class="custom-card aos-init aos-animate" data-aos="fade-up">
      <div class="custom-card-img">
        <img src="assets/icons/untitled 3.png" alt="security" />
      </div>
      <div class="custom-card-body">
        <p class="custom-card-title">Security</p>
        <p class="custom-card-subtitle">
          Fraud prevention and security measures to keep your funds secure
        </p>
        <span>Protected</span>
      </div>
    </div>
  </div>
  <div class="custom-card-block">
    <div class="custom-card aos-init aos-animate" data-aos="fade-up">
      <div class="custom-card-img">
        <img src="assets/icons/convenience 2.png" alt="convenience" />
      </div>
      <div class="custom-card-body">
        <p class="custom-card-title">Convenience</p>
        <p class="custom-card-subtitle">
          Money transfers at your fingertips: choose what is convenient for you
        </p>
        <span>Your choice</span>
      </div>
    </div>

    <div class="custom-card aos-init aos-animate" data-aos="fade-up">
      <div class="custom-card-img">
        <img src="assets/icons/fee 5.png" alt="fixed fee" />
      </div>
      <div class="custom-card-body">
        <p class="custom-card-title">Fixed fee</p>
        <p class="custom-card-subtitle">
          We display the rate, transfer fee and receivable amount before you
          make the transfer
        </p>
        <span>All clear</span>
      </div>
    </div>
  </div>
  
</section>
