:host {
  background: #f2f4f9;
  padding-bottom: 0;
  padding-top: 64px;
  margin-bottom: 40px;
}

section {
  padding: 0 15px;
}

.container {
  padding: 0 180px;
}

.custom-card img {
  width: 112px;
  height: 112px;
}

.custom-card-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 35px;
  gap: 51px;
}

.custom-card {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: row;
  max-width: 500px;
  width: 100%;
  margin-bottom: 111px;
  gap: 20px;
}

.custom-card-body {
  position: relative;
}

.custom-card span {
  background: linear-gradient(198deg, #1c1c1c -30.81%, #fdcc06 133.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-right: 10px;
  font-family: Caveat;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 39px;
  position: absolute;
  top: -40px;
  right: 0;
}

.title {
  color: #1c1c1c;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  margin-bottom: 50px;
}
.custom-card-title {
  font-family: "Uncut Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.custom-card-subtitle {
  color: #606060;
  font-family: "Uncut Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 13px;
  margin-bottom: 0;
}


@media only screen and (max-width: 575px) {
  .title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  .custom-card {
    margin-bottom: 32px;
  }

  .custom-card-title {
    font-size: 24px;
  }
}