.page-link {
  --bs-pagination-active-color: #1c1c1c;
  --bs-pagination-color: #1c1c1c;
  --bs-pagination-hover-color: #1c1c1c;
  
}

.active>.page-link {
  --bs-pagination-active-bg: #F9FAFB;
  --bs-pagination-active-border-color: var(--bs-pagination-border-color);
}

ul {
  margin: 0;
  color: black;
}

