:host {
  display: flex;
  padding-top: 100px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  background: #f2f4f9;
}
.steps-container {
  padding: 20px;
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}
h3 {
  color: #1c1c1c;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 64px;
}
.card-number {
  font-size: 92px;
  font-weight: bold;
  color: #1c1c1c;
}

.custom-card-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.custom-card {
  display: grid;
  grid-template-columns: 1fr 133px 1fr;
  justify-content: space-between;
  align-items: stretch;
}
.custom-card:nth-child(even) .left-content {
  order: 2;
}
.custom-card:nth-child(even) .card-icon {
  order: -1;
}

.custom-card-title {
  color: var(--Tonio-Main500, #1c1c1c);
  font-family: "Uncut Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  margin-bottom: 8px;
}

.custom-card-subtitle {
  color: #606060;
  font-family: "Uncut Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 150% */
}

.left-content {
  padding: 40px 0;
}

.card-icon {
  flex: 1 0 0;
  display: flex;
  align-items: center;
}

.card-icon img {
  width: 260px;
}
p {
  font-size: 16px;
  color: #666;
  text-align: left;
}

.arrow {
  position: absolute;
  right: 0;
  top: 48px;
  width: 109px;
}
.custom-card:nth-child(2n) .arrow {
  transform: rotateX(180deg);
}

.flag {
  position: absolute;
  top: 29px;
  right: 69px;
  width: 96px;
}

.card-divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

.card-divider .line {
  flex-grow: 1;
  width: 2px;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 10px,
    #ffd700 10px,
    #ffd700 20px
  );
}


@media only screen and (min-width: 768px) {
  .custom-card:first-child .top-line {
    background: none;
  }
  .custom-card:last-child .bottom-line {
    background: none;
  }
}

.dot {
  width: 33px;
  height: 33px;
}

.yellow-btn {
  display: inline-block;
  margin-top: 50px;
  align-self: center;
}

@media only screen and (max-width: 767px) {
  .steps-container {
    width: 95%;
    padding: 0;
  }
  .title {
    font-size: 46px;
    line-height: 52px;
    margin-bottom: 19px;
  }

  .custom-card {
    grid-template-columns: 61px 1fr;
    grid-template-areas:
      "b c"
      "b a";
  }
  .custom-card:nth-child(even) .left-content {
    order: unset;
  }
  .custom-card:nth-child(even) .card-icon {
    order: unset;
  }

  .left-content {
    grid-area: a;
  }

  .card-divider {
    grid-area: b;
    margin: 0 14px;
  }

  .card-icon {
    grid-area: c;
  }
  .card-icon img {
    width: 160px;
  }

  .custom-card-title {
    color: var(--Tonio-Main500, #1C1C1C);
  font-family: "Uncut Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  }

  .custom-card-subtitle {
    color: #606060;
font-family: "Uncut Sans";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 27px; /* 150% */
  }
}

@media only screen and (max-width: 575px) {
  .title {
    font-size: 26px;
    line-height: 36px;
  }
}
