<div class="steps-container">
  <h3 class="title">Not yet registered?<br>
    Start now - just easy steps to start!</h3>
  <div class="custom-card-block">
    <div class="custom-card">
      <div class="left-content">
        <div class="card-number">1</div>
        <h2 class="custom-card-title">Online Onboarding</h2>
        <p class="custom-card-subtitle">
          You can easily request for registration through our
          online onboarding portal. With just several steps your request will be
          accepted and processed
        </p>
      </div>

      <div class="card-divider">
        <div class="top-line line"></div>
        <img class="dot" src="/assets/icons/dot.svg">
        <div class="bottom-line line"></div>
      </div>

      <div class="card-icon">
        <img src="/assets/images/step1.png" alt="Step 1" />
        <!-- <img class="arrow" src="/assets/images/Curved.png" > -->
      </div>
    </div>
    <div class="custom-card">
      <div class="left-content">
        <div class="card-number">2</div>
        <h2 class="custom-card-title">Compliance Check and Approval</h2>
        <p class="custom-card-subtitle">
          Our Compliance Team will review your documents and data, and approve
          for starting business with us. This procedure
          is very straightforward and fast to start
          business immediately
        </p>
      </div>

      <div class="card-divider">
        <div class="top-line line"></div>
        <img class="dot" src="/assets/icons/dot.svg">
        <div class="bottom-line line"></div>
      </div>

      <div class="card-icon">
        <img src="/assets/images/step2.png" alt="Step 2" />

        <!-- <img class="arrow" src="/assets/images/Curved.png"> -->
        
      </div>
    </div>
    <div class="custom-card">
      <div class="left-content">
        <div class="card-number">3</div>
        <h2 class="custom-card-title">Agreement Sign and Account Setting</h2>
        <p class="custom-card-subtitle">
          Our Operation Team will prepare all necessary data of your account
          and provide set it in portal accordingly. All details aligned will
          be mentioned in agreement and signed for business start.
        </p>
      </div>

      <div class="card-divider">
        <div class="top-line line"></div>
        <img class="dot" src="/assets/icons/dot.svg">
        <div class="bottom-line line"></div>
      </div>

      <div class="card-icon">
        <img src="/assets/images/step3.png" alt="Step 3" />
        <!-- <img class="arrow" src="/assets/images/Curved.png" > -->
      </div>
    </div>
    <div class="custom-card">
      <div class="left-content">
        <div class="card-number">4</div>
        <h2 class="custom-card-title">Fees & User Credentials Setup</h2>
        <p class="custom-card-subtitle">
          Our Product Team will set up everything for you
          in terms of fees and rates for all corridors and available
          service types. Also they will train you for portal usage for
          further smooth cooperation
        </p>
      </div>

      <div class="card-divider">
        <div class="top-line line"></div>
        <img class="dot" src="/assets/icons/dot.svg">
        <div class="bottom-line line"></div>
      </div>

      <div class="card-icon">
        <img src="/assets/images/step4.png" alt="Step 4" />
        <!-- <img class="flag" src="/assets/images/flag.png" > -->
      </div>
    </div>
    <div class="custom-card">
      <div class="left-content">
        <div class="card-number">5</div>
        <h2 class="custom-card-title">You're Ready for Start!</h2>
        <p class="custom-card-subtitle">
          Now you can login to the portal and start your business with us.
          Our 24/7 Support Team will handle all your queries and questions
          accordingly for smooth business work together
        </p>
      </div>

      <div class="card-divider">
        <div class="top-line line"></div>
        <img class="dot" src="/assets/icons/dot.svg">
        <div class="bottom-line line"></div>
      </div>

      <div class="card-icon">
        <img src="/assets/images/step5.png" alt="Step 4" />
        <!-- <img class="flag" src="/assets/images/flag.png" > -->
      </div>
    </div>
  </div>

  <a class="button yellow-btn" href="https://account.tonio.world/auth/login" target="_blank">Start registration</a>
</div>
