:host {
  display: block;
  margin-top: 100px;
}
.steps-container {
  text-align: center;
}
h3 {
  color: #1C1C1C;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 64px;
}
.card-number {
  font-size: 92px;
  font-weight: bold;
  color: #1c1c1c;
}

.custom-card-block {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.custom-card {
  text-align: center;
  max-width: 233px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
}

p {
  font-size: 16px;
  color: #666;
  text-align: left;
}

.arrow {
  position: absolute;
  right: 0;
  top: 48px;
  width: 109px;
}
.custom-card:nth-child(2n) .arrow {
  transform: rotateX(180deg);
}

.flag {
  position: absolute;
  top: 29px;
  right: 69px;
  width: 96px;
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 46px;
    line-height: 52px;
    margin-bottom: 19px;
  }

  .custom-card-block {
    flex-direction: column;
    margin: 0 45px;
  }

  .custom-card {
    width: 100%;
    max-width: unset;
  }

  .arrow {
    right: unset;
    top: unset;
    transform: rotate(90deg);
    width: 73px;
    bottom: -46px;
    left: 76px;
  }

  .flag {
    right: unset;
    left: 72px;
  }

  .custom-card:nth-child(2n) .arrow {
    transform: rotateY(180deg) rotate(90deg);
  }
}

@media only screen and (max-width: 575px) {
  .title {
    font-size: 26px;
    line-height: 36px;
  }
}