<div class="steps-container">
  <h3 class="title">
    Just easy steps to start
  </h3>
<div class="custom-card-block">
  <div class="custom-card">
    <div class="card-number">1</div>
    <img class="arrow" src="/assets/images/Curved.png" >
    <p>Contact us and we will offer you the best solutions for your business</p>
  </div>
  <div class="custom-card">
    <div class="card-number">2</div>
    <img class="arrow" src="/assets/images/Curved.png">
    <p>The second step of the procedure is a thorough due diligence process</p>
  </div>
  <div class="custom-card">
    <div class="card-number">3</div>
    <img class="arrow" src="/assets/images/Curved.png" >
    <p>After that we proceed to commercial discussion and agreement signing process</p>
  </div>
  <div class="custom-card">
    <div class="card-number">4</div>
    <img class="flag" src="/assets/images/flag.png" >
    <p>And the final part – system integration process. We are happy to start working with you!</p>
  </div>
</div>
</div>