:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #FFF;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 109.091% */
  width: 784px;
  margin-top: 94px;
}
.subtitle {
  color: #FFF;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  width: 602px;
  margin-top: 24px;
}


.btn-block {

  display: inline-flex;
  padding: 10px 24px 11px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
background: #FDCC06;

/* custom-card shadow */
box-shadow: 0px 15px 63px 0px rgba(101, 101, 101, 0.08), 0px 1.878px 7.889px 0px rgba(101, 101, 101, 0.04);
  cursor: pointer;
}

.btn-block a {
  text-decoration: none;
}

.tabs-wrapper {
  padding: 0 104px;
  display: flex;
    flex-direction: column;
}

.tabs {
  background-color: #FFF;
  align-self: flex-start;
  display: flex;
  border-radius: 12px 12px 0 0;
  margin-top: 42px;
}

.tab {
  padding: 12px 42px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  cursor: pointer;
}

.tab:not(.active) {
  background: #E9E9E9;
  color: #8A8A8B;
  box-shadow: 0px 27px 80px 0px rgba(135, 135, 135, 0.07), 0px 6.031px 17.869px 0px rgba(135, 135, 135, 0.04), 0px 1.796px 5.32px 0px rgba(135, 135, 135, 0.03);
}

.tab:first-child {
  border-top-left-radius: 12px;
}
.tab:last-child {
  border-top-right-radius: 12px;
}

.tab-content {
  display: block;
  padding: 40px 57px;
  border-radius: 0 12px 12px 12px;
  background: #FFF;
  box-shadow: 0px 27px 80px 0px rgba(135, 135, 135, 0.07), 0px 6.031px 17.869px 0px rgba(135, 135, 135, 0.04), 0px 1.796px 5.32px 0px rgba(135, 135, 135, 0.03);
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.control-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 22%;
  width: 100%;
  gap: 7px;
}

.control-wrapper label {
  color: #1C1C1C;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.form-control {
  border-radius: 10px;
  border: 1px solid #E4E8F0;
  background: #F4F6F9;

  color: #1C1C1C;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.current-info-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 41px;
  gap: 32px;
  flex-wrap: wrap;
}
.currency-info{
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.currency-info p {
  margin: 0;
  color: #1C1C1C;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 165%;
}
.currency-info p.label {
  color: #828A96;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}
.purple-btn{
  display: inline-flex;
  padding: 10px 24px 11px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
background: #FDCC06;

/* custom-card shadow */
box-shadow: 0px 15px 63px 0px rgba(101, 101, 101, 0.08), 0px 1.878px 7.889px 0px rgba(101, 101, 101, 0.04);
  cursor: pointer;
  text-decoration: none;

}

.custom-card-block-title {
  width: 397px;
  margin: 0 auto;
  margin-top: 64px;
  color: #1C1C1C;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
}

.custom-card-block {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}

.custom-card {
  position: relative;
}

.custom-card-header {
  width: 519px;
  height: 380px;
  border-radius: 16px;
  background: #EFEFEF;
  padding: 26px;
}

.custom-card-header img {
  width: inherit;
}

.custom-card-icon {
  position: absolute;
  left: calc(50% - 20px);
  top: -20px;
    width: 45px;
    height: 45px;
    background-color: #FDCC06;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.custom-card-img-overlay {
  background: rgba(255, 255, 255, 0.9);
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #f6f6f6;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}



@media only screen and (max-width: 1200px) {
  .control-wrapper {
    max-width: 47%;
  }
}

@media only screen and (max-width: 991px) {
  .control-wrapper {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1399px) {
  .custom-card-block {
    align-items: center;
    flex-direction: column;
  }
}