<div class="container">
  <div class="title-wrapper">
    <h1 class="title">International money transfers at your fingertip</h1>
    <p class="subtitle">Send money securely to family and friends around the globe. Get paid in the most convenient way. No need for a bank account. Just sign in, send or receive money on the go</p>
    <div class="btn-block"><a href="https://account.remiton.global/auth/login?redirect=home" class="button" target="blank">Start right now!</a></div>
  </div>
</div>
<div class="tabs">
  <div class="tab" [class.active]="isSendMoneyTabActive" (click)="onSendMoneyTab()">Send money</div>
  <div class="tab" [class.active]="isReceiveMoneyTabActive" (click)="onReceiveMoneyTab()">Receive</div>
</div>
<section class="tab-content" *ngIf="isSendMoneyTabActive">
  <div class="form-wrapper">
    <div class="control-wrapper">
      <label>You send</label>
      <input />
    </div>
    <div class="control-wrapper">
      <label>To country</label>
      <input />
    </div>
    <div class="control-wrapper">
      <label>They receive</label>
      <input />
    </div>
    <div class="control-wrapper">
      <label>Choose method</label>
      <input />
    </div>
  </div>
  <div class="current-info-wrapper">
    <div class="currency-info">
      <p class="label">Exchange rate is </p>
      <p>1 USD = 0.76 GBP</p>
    </div>
    <div class="currency-info">
      <p class="label">Estimated fee</p>
      <p>0.5 USD</p>
    </div>
    <div class="currency-info">
      <p class="label">Total</p>
      <p>100.5 USD </p>
    </div>
    <div class="currency info">
      <a class="button purple-btn" href="" target="blank">Send money</a>
    </div>
  </div>
</section>
<section class="tab-content" *ngIf="isReceiveMoneyTabActive">

</section>