<div class="container">
  <div class="title-wrapper">
    <h1 class="title">International money transfers at your fingertip</h1>
    <p class="subtitle">Send money securely to family and friends around the globe. Get paid in the most convenient way. No need for a bank account. Just sign in, send or receive money on the go</p>
    <div class="btn-block"><a href="https://account.remiton.global/auth/login?redirect=home" class="button" target="blank">Start right now!</a></div>
  </div>
</div>
<div class="tabs">
  <div class="tab active">Send money</div>
  <div class="tab">Receive</div>
</div>
<section class="send-money-tab">
  <div class="form-wrapper">
    <div class="control-wrapper">
      <label>You send</label>
      <input />
    </div>
    <div class="control-wrapper">
      <label>To country</label>
      <input />
    </div>
    <div class="control-wrapper">
      <label>They receive</label>
      <input />
    </div>
    <div class="control-wrapper">
      <label>Choose method</label>
      <input />
    </div>
  </div>
</section>
<section class="recieve-tab">

</section>