<section class="section-privacyPolicy">
  <div class="container">
    <div class="title">Privacy Policy</div>
      <div class="head">1.INTRODUCTION</div>

      <div>
        1.1 We, Tonio Limited, are committed to protecting your privacy. This Privacy Policy (“Policy”)
applies to all persons using our services, website Tonio.world, or our mobile application TONIO
LIMITED. This Policy governs our data collection, processing, and usage practices. It also
describes your choices regarding use, access, and correction of your personal information.
<br>
1.2 By using our website www.Tonio.world (“Website”) or our mobile application TONIO (“Mobile
App”), you (“you” or “your”) consent to this Policy and to the data practices described in it. If you
do not agree with the data practices described in this Policy, you should not use our services, the
Website, or the Mobile App
<br>
1.3 We periodically update this Policy. We encourage you to review this Policy periodically.<br>
1.4 All capitalized terms and definitions, not defined in this Policy, have the meaning prescribed
to them in the TONIO LIMITED Terms of Service<br>
      </div>

      <div class="head">2.PURPOSE AND CONSENT</div>
      <div>
        2.1 This Policy has been developed for purposes of compliance with the General Data Protection
        Regulations 2017 (“GDPR”) and the Data Protection Act 1998 or 2018 (“DPA”) and shall serve as
        part of your initial customer relationship with us and our ongoing commitments to you.<br>
        2.2 Without information about you, we may not be able to provide you with the services or the
support you request or require. Some of the information we obtain is collected to comply with
applicable laws and regulations, including anti-money laundering laws.<br>
2.3 This Policy explains:<br>
a) Types of information we collect about you;<br>
b) How we use information about you;<br>
c) Types of information we disclose to third parties and the types of such third parties;<br>
d) How we protect your personally identifiable information; and<br>
e) How you may instruct us not to disclose certain information about you which we are otherwise
permitted to disclose by law.<br>
2.4 By applying or signing up for our services, you authorize and consent to our obtaining from,
and disclosing to, third parties any information about you in connection with identity or account
verification, fraud detection, or collection procedure, or as may otherwise be required by
applicable law.<br>
      </div>

      <div class="head">3. INFORMATION WE COLLECT ABOUT YOU AND HOW WE DO IT
      </div>
      <div>
        3.1 We collect the following information (“Information”) about you:<br>
        a) Identification information, such as your name, email address, home address, phone number,
and date of birth, along with identification details of documents confirming your ID and address;<br>
c)Other information you provide when you participate in contests or promotions offered by us our
partners, respond to our surveys or otherwise communicate with us;<br>
d)Information about when and where the transactions occur, the names of the transacting parties,
a description of the transactions, the payment or transfer amounts, billing and shipping
information, and the devices and payment methods used to complete the transactions;<br>
e)Information about the location of your device and some other device specifics, including your
hardware model, operating system and version, unique device identifier, mobile network
information, and information about the device’s interaction with our services. We may also identify
other software running on the device for anti-fraud and malware-prevention purposes (but will not
collect any content from such software);<br>
information, and information about the device’s interaction with our services. We may also identify
other software running on the device for anti-fraud and malware-prevention purposes (but will not
collect any content from such software);<br>
f) Information about how you use our services, including your access time, browser type and
language, and Internet Protocol (“IP”) address;<br>
g) Information about you from third parties, including third-party verification services, mailing list
providers, and publicly available sources (where lawful, this information may include your
government-issued identification number);<br>
h)Information collected by Cookies and Web beacons (defined below), including using web
beacons and sending cookies to your device (for more information on this please see our
Cookies Policy;<br>
i) Pictures of your ID, utility bills, and other documents as may be requested by us and provided
by you;<br>
j) Employment information; and<br>
k) Information contained in or relating to any communication that you send to us with or without
our request, including without limitation the communication content and metadata associated
with the communication.<br>
3.2 We may collect the Information:<br>
a) in course of your signing up for the Services,<br>
b) in course of our identity or account verification process, including without limitation requesting
and receiving the Information from various credit reference agencies, or c) in course of your use
of our Services.<br>
      </div>
      <div class="head">4. USE OF INFORMATION</div>
      <div>
        4.1 We do not sell, exchange or give to any other person your information, whether public or
private, for any reason whatsoever, without your consent, other than for the express purpose of
providing our services to you. <br>
4.2 We collect, process, and use Information for the following purposes: a) To provide the services
to you, including without limitation to process your transactions; b) to improve, personalize and facilitate your use of our services. c) to measure, customize, and enhance our services, including
the design, content, and functionality of the Mobile App and Website. d) To analyze use of our
services; e) To improve our customer service; f) To send periodic emails, news and information,
or to conduct surveys and collect feedback about our services and to communicate with you about
products, services, contests, promotions, discounts, incentives, and rewards offered by us and
select partners, based on your communication preferences and applicable law, and the email
address you provided for such communications; g) To administer our internal information
processing and other IT systems; h) To operate our website and services, including to ensure
their security; i) To maintain back-ups of our databases and to keep the records in accordance
with our internal policies and procedures and the applicable law; j) To communicate with you,
including without limitation to deliver the information and support you request, including technical
notices, security alerts, and support and administrative messages, to resolve disputes, collect
fees, and provide assistance for problems with our Services; k) To establish, exercise or defend
legal claims, whether in court proceedings or in an administrative or out-of-court procedure for
the protection and assertion of our legal rights, your legal rights and the legal rights of others; l)
To obtain or maintain insurance coverage, to manage risks, or obtain professional advice; m) To
comply with our obligations either required by law or by written agreements with third parties; n)
displaying transactions history; o) developing new products and services; and p) in order to: (i)
protect our rights or property, or the security or integrity of our services; (ii) enforce the terms of
our Terms and Conditions or other applicable agreements or policies; (iii) verify your identity (e.g.,
some of the government-issued identification numbers we collect are used for this purpose); (iv)
investigate, detect, and prevent fraud, security breaches, and other potentially prohibited or illegal
activities; (v) comply with any applicable law, regulation, or legal process. <br>
4.3 We may use third-party service providers to, process and store your information in the
United Kingdom and other countries in our sole discretion.<br>


      </div>

      <div class="head">5. DISCLOSURE OF YOUR INFORMATION TO THIRD PARTIES
      </div>
      <div>
        5.1 Any third party that receives or has access to Information is required to protect such
Information and use it only to carry out the services they are performing for you or for TONIO
LIMITED, unless otherwise required or permitted by law. We shall ensure any such third party is
aware of our obligations under this Policy and we enter into contracts with such third parties by
which they are bound by terms no less protective of any Information disclosed to them than the
obligations we undertake to you under this Policy or which are imposed on us under applicable
data protection laws.<br>
5.2 We may disclose any and all information specified in Clause 3.1 of this Policy to:<br>
a) our suppliers or subcontractors as reasonably necessary for providing our Services to you;<br>
b) our payment services providers only to the extent necessary for the purposes of processing your payments, refunding such payments and dealing with complaints and queries relating to
such payments and refunds;<br>
c) our partners, governmental bodies and regulatory authorities, judicial bodies, our associates,
agents, attorneys or other representatives for compliance with legal obligations to which we are
subject or for the establishment, exercise or defense of legal claims, whether in court proceedings
or in an administrative or out-of-court procedure; d) our group companies, including our affiliates,
for rendering our services, compliance with applicable laws and improving the quality of our
Services; e) our business partners that run advertising campaigns, contests, special offers, or
other events or activities in connection with our Services; f) other users of our services with whom
you interact through your own use of our Services. For example, we may share information when
you make a Transaction.<br>


      </div>

      <div class="head">6.INTERNATIONAL TRANSFER OF INFORMATION</div>
      <div>
        6.1 Without prejudice to Section 5 of this Policy, you should be aware that we transfer your
information outside EEA:<br>
a) Each transfer will be protected by appropriate safeguards of the relevant legally binding
obligations of the recipient to protect and handle your Information in accordance with this Policy,
GDPR and DPA<br>
b) The hosting facilities for our website are situated in the European Economic Area. The UK law
provides strict requirements and strong protection of confidentiality of the Information at the level
no less beneficial for you than the level provided by GDPR. Moreover, each transfer will be
protected by appropriate safeguards of the relevant legally binding obligations of the recipient to
protect and handle your Information in accordance with this Policy, GDPR and DPA.<br>
6.2 TONIO LIMITED is a fast-growing international company with various global partnerships. you
should be aware that certain third-party service providers, such as payment gateways and other
payment transaction processors, may be located in, or have facilities that are located in, outside
EEA in a different jurisdiction than either you or us. Therefore, if you elect to proceed with a
transaction that involves the services of a third-party service provider, then your personal
information may become subject to the laws of the jurisdiction(s) in which that service provider or
its facilities are located. For example, if you are located in the United Kingdom and your
transaction is processed by a payment gateway located in Canada, then your personal
information used in completing that transaction may be subject to disclosure under Canadian
legislation. For these providers, we recommend that you read their privacy policies, so you can
understand the manner in which your personal information will be handled by these providers.<br>
      </div>
      <div class="head">7.THIRD-PARTY ADVERTISING AND ANALYTICS</div>
      <div>
        7.1 We may allow third-party service providers to deliver content and advertisements in
connection with our services and to provide anonymous site metrics and other analytics services.
These third parties may use cookies, web beacons, and other technologies to collect information,
such as your IP address, identifiers associated with your device, other applications on your
device, the browsers you use to access our services, webpages viewed, time spent on webpages,
links clicked, and conversion information (e.g., transactions entered into). This information may
be used by us and third-party service providers on our behalf to analyze and track usage of our
services, determine the popularity of certain content, deliver advertising and content targeted to
your interests, and better understand how you use our services.<br>
7.2 The third-party service providers that we engage are bound by confidentiality obligations and
applicable laws with respect to their use and collection of your information.<br>
7.3 THIS PRIVACY POLICY DOES NOT APPLY TO, AND WE ARE NOT RESPONSIBLE FOR,
THIRD-PARTY COOKIES, WEB BEACONS, OR OTHER TRACKING TECHNOLOGIES, WHICH
ARE COVERED BY SUCH THIRD PARTIES’ PRIVACY POLICIES. FOR MORE INFORMATION,
WE ENCOURAGE YOU TO CHECK THE PRIVACY POLICIES OF THESE THIRD PARTIES TO
LEARN ABOUT THEIR PRIVACY PRACTICES.<br>


      </div>

      <div class="head">8.YOUR RIGHTS TO YOUR INFORMATION
      </div>
      <div>
        8.1 You have the following rights with respect to your Information:<br>
        a) Right to Confirmation - you have the right to confirm that we process your Information and to
access such Information together with the details of the purposes of the processing, the
categories of Information concerned and the recipients of your Information. you have a right to
request and receive a copy of your Information that we have subject to compliance with the
applicable laws. you can access your Information by logging into your Profile and checking the
relevant section in the Profile interface.<br>
b) Right to Rectification - you have the right to rectify any inaccurate Information about you and
to complete any incomplete Information about you.<br>
c) Right to Erasure - you have the right to demand erasure of your Information with us if:<br>
(i) the Information is no longer necessary in relation to the purposes for which it was collected or
otherwise processed;<br>
(ii) you withdraw consent to consent-based processing;<br>
(iii) you object to the processing of your Information under the applicable law; (iv) the processing
of your Information is done for direct marketing purposes only; and (v) your Information have been
unlawfully processed.<br>
We may refuse your demand if your Information is processed for exercising the right of freedom
of expression and information, compliance with a legal obligation or establishment, exercise or
defense of legal claims.<br>
d) Right to Restrict Processing - you have the right to restrict processing of your Information if:<br>
(i) you contest the accuracy of the Information;<br>
(ii) processing is unlawful, but you oppose erasure;<br>
(iii) we no longer need the Information for the purposes of our processing, but you require
Information for the establishment, exercise or defense of legal claims; and<br>
(iv)you have objected to processing, pending the verification of that objection, in which case we
may continue to store your Information, but we will only otherwise process it: (A)with your consent;(B)for the establishment, exercise or defense of legal claims; (C)for the protection of the rights of
another natural or legal person; or (D)for reasons of important public interest.<br>
e) Right to Object to Processing - you have the right to object to our processing of your Information
by any reason to the extent that the legal basis for the processing is the performance of a task
carried out in the public interest or in the exercise of any official authority vested in us; or the
purposes of the legitimate interests pursued by us or by a third party. Please note, that we will
cease processing your Information if such processing was done for direct marketing purposes.
Otherwise, we may disregard your objection if we can demonstrate compelling legitimate grounds
for the processing which override your interests, rights and freedoms, or the processing is for the
establishment, exercise or defense of legal claims. f) Data Portability - to the extent that:<br>
(i) the legal basis for our processing of your Information is your consent, a necessity to perform a
contract to which you are party, or to satisfy your request prior to entering into a contract, and<br>
(ii) such processing is carried out by automated means,you have the right to receive your Information from us in a structured, commonly used and
machine-readable format. However, we may refuse to provide you with your Information if it would
adversely affect the rights and freedoms of third parties.<br>
g) Right to Complain - if you consider that our processing of your Information violates applicable
laws and regulations, you have a legal right to file a complaint with the U.K. Information
Commissioner by following the instructions provided at https://ico.org.uk/concerns/ or otherwise
as may be convenient for you.<br>
h) Right to Withdraw Consent - you may withdraw your consent to us processing your Information
at any time, however such withdrawal will not affect the lawfulness of processing of your
Information before it.<br>
8.2 You may exercise any of those rights by sending an email at info&#64;tonio.world or by using
technical tools and features of the interface of your Profile. Please note, that some of your rights
related to your Information are quite complex, and you are advised to read the relevant laws and
guidance from the regulatory authorities for a full explanation of these rights.<br>


      </div>
      <div class="head">9. SECURITY OF YOUR INFORMATION
      </div>
      <div>
        9.1 We take reasonable measures, including administrative, technical, and physical safeguards,
to protect your information from loss, theft, misuse, and unauthorized access, disclosure,
alteration, and destruction. We hold the Information at our own premises and with the assistance
of thirdparty service providers. We restrict access to personal information to our employees,
contractors, and agents who need to know that information in order to transmit, store, or process it, who are subject to contractual confidentiality obligations consistent with this Policy, and who
may be disciplined or terminated if they fail to meet these obligations.<br>
9.2 Our third-party service providers store and transmit personal information in compliance with
this Policy and other appropriate confidentiality and security measures. Nevertheless, we cannot
guarantee that unauthorized third parties will never be able to defeat our security measures or
use your personal information for improper purposes.<br>
9.3 In the event that any information in our possession or under our control is compromised as a
result of a security breach, we will take reasonable steps to investigate the situation and, where
appropriate, notify those individuals whose information may have been compromised and take
other steps in accordance with applicable laws or regulations.<br>

      </div>
      <div class="head">10. OPT OUT AND DEACTIVATION OPTIONS
      </div>
      <div>
        10.1 If you wish to deactivate your Profile, you may do so by contacting our customer service. We
may retain archived copies of the Information and any transactions or services in which you may
have participated for a period of time that is consistent with applicable law, or as we believe is
reasonably necessary to comply with applicable law, regulation, or legal process, to prevent fraud,
to collect fees owed, to resolve disputes, to address problems with our services, to assist with
investigations, to enforce our Terms and Conditions or other applicable agreements or policies,
or to take any other actions consistent with applicable law.<br>
10.2 If you do not consent to collection of the device location information, you may be unable to
use our corresponding services. you can stop our collection of location information at any time by
changing the preferences on your mobile device. If you do so, some of our mobile applications
will no longer function. you also may stop our collection of location information via mobile
application by following the standard uninstall process to remove our mobile applications from
your device.<br>
10.3 Some of the cookies used in the Service are set by us, and others are set by third parties
who deliver services on our behalf. Most web and mobile device browsers are set to automatically
accept cookies by default. However, you can change your browser settings to prevent automatic
acceptance of cookies, or to notify you each time a cookie is set.<br>
10.4 you may opt out of receiving promotional messages from us by following the instructions in
those messages or by changing your notification settings by logging into your Profile.<br>

      </div>
      <div class="head">11. DATA RETENTION POLICY</div>
      <div>
        11.1 We will hold your Information for five years from the date of your last use of our Services
unless otherwise required by the applicable law. We do not retain or store your bank card or bank
account information, unless otherwise required by the applicable law.<br>
11.2 Notwithstanding Clause 11.1, we may retain your Information where such retention is
necessary for compliance with a legal obligation to which we are subject, or in order to protect
your vital interests or the vital interests of another natural person.<br>
      </div>

      <div class="head">12. DATA PROTECTION OFFICER AND OUR CONTACT DETAILS
      </div>
      <div>
        12.1 Tonio Limited, a company incorporated in England (company number – 05103590), is an
online money transfer service (“Service”), with registered office at 8 New Street, New Street,
Leicester, England, LE1 5NR. Tonio Limited is an Authorised Payment Institution regulated by
the Financial Conduct Authority (reference number - 572541).<br>
12.2 Any questions or concerns regarding this Policy or your rights related to protection of your
personal information may be sent via email at info&#64;tonio.world or at the following address: 8 New
Street, New Street, Leicester, England, LE1 5NR.<br>
12.3 In order to ensure effective and legal handling of our customers’ Information we have
appointed a Data Protection Officer. you can reach our Data Protection Officer by sending an
email at info&#64;tonio.world.<br>
      </div>

      <div class="head">13. AMENDMENTS</div>
      <div>
        13.1 We reserve the right to modify, alter or otherwise update this Policy at any time, by posting
such changed, updated or modified policy on our Website. We will provide you with a minimum
notice period of two months for any changes to this Policy, by email at the email address you
provide<br>
13.2 Should you not wish to accept those changes you should notify us and we will take that as
an instruction to close your account held with us<br>
13.3 Should we not hear from you, your continued use of our services constitutes your acceptance
of any amendment of this Policy. In the event that you close your account following rejection of
the changes, we will still hold your personal data on file, to adhere to applicable law.<br>
      </div>
  </div>
</section>