@if(!forIframe()) {
  <app-header [useBlackText]="isBussinessPage()"></app-header>
}

<div class="absolute">
  <div class="globe-wrapper">
    <div class="bg-container clip-path">
      <div class="bg-color" [class.bussiness]="isBussinessPage()"></div>
      @if (displayGlobe()) {
      <div class="globe js-globe">
        <div class="svg-wrapper active"></div>
        <canvas class="globe-canvas js-canvas"></canvas>
      </div>
      }
    </div>
  </div>
</div>

<router-outlet></router-outlet>
@if (!forIframe()) {
  <app-footer></app-footer>
  <app-scroll-top></app-scroll-top>
}