

.bg-color {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(180deg, #1C1B1B 44.42%, #3A3A3A 100%);
  z-index: 0;
}

.bg-color.bussiness {
  background: url('/assets/images/bussiness-back.png'), linear-gradient(180deg, #1C1B1B 44.42%, #3A3A3A 100%);;
  background-size: contain;
  background-blend-mode: luminosity;
  height: 585px;
}

.absolute {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.bussiness-header-image {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.globe-wrapper {
  position: relative;
  min-height: 724px;
  overflow: hidden;
  z-index: -1;
}

.js-globe {
  position: absolute;
}

.bg-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.bg-container.clip-path {
  -webkit-clip-path: polygon(100% 0, 100% 89%, 50% 100%, 0 89%, 0 0);
  clip-path: polygon(100% 0, 100% 89%, 50% 100%, 0 89%, 0 0);
}

.bg-container.clip-path:has(.bussiness) {
  -webkit-clip-path: none;
  clip-path: none;
}