<div class="container">
  <h1 class="title">About us, our mission and our vision</h1>
  <p class="subtitle">We’re here to support the millions of people who send transfers to help their loved ones</p>
  <div class="btn-block"><a href="" class="button">Become an Agent</a></div>
</div>
<section id="benefit">
  <div class="container">
      <h2 class="title aos-init aos-animate" data-aos="fade-up">What we <span>offer</span> to customers</h2>
      <div class="card-block">
          <div class="benefit-card aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
              <img src="/public/images/about/icon-1.svg" alt="global reach">
              <p>Global  reach</p>
          </div>
          <div class="benefit-card aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
              <img src="/public/images/about/icon-2.svg" alt="advanced technology">
              <p>Advanced technology</p>
          </div>
          <div class="benefit-card aos-init" data-aos="fade-up" data-aos-delay="400">
              <img src="/public/images/about/icon-3.svg" alt="wide range of currencies">
              <p>Wide range of currencies</p>
          </div>
          <div class="benefit-card aos-init" data-aos="fade-up" data-aos-delay="500">
              <img src="/public/images/about/icon-4.svg" alt="support team">
              <p>24/7 dedicated support team</p>
          </div>
      </div>
  </div>
</section>