<div class="container">
  <h1 class="title">About us, our mission and our vision</h1>
  <p class="subtitle">We’re here to support the millions of people who send transfers to help their loved ones</p>
  <div class="btn-block"><a href="https://agent.tonio.world/company/registration" class="button">Become an Agent</a></div>
</div>
<section id="benefit">
  <div class="container">
      <h2 class="benefit-title aos-init aos-animate" data-aos="fade-up">What we <span>offer</span> to customers</h2>
      <div class="custom-card-block">
          <div class="benefit-card aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
              <img src="assets/icons/about-icon 1.svg" alt="global reach">
              <p>Global  reach</p>
          </div>
          <div class="benefit-card aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
              <img src="assets/icons/about-icon 2.svg" alt="advanced technology">
              <p>Advanced technology</p>
          </div>
          <div class="benefit-card aos-init" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/icons/about-icon 3.svg" alt="wide range of currencies">
              <p>Wide range of currencies</p>
          </div>
          <div class="benefit-card aos-init" data-aos="fade-up" data-aos-delay="500">
              <img src="assets/icons/about-icon 4.svg" alt="support team">
              <p>24/7 dedicated support team</p>
          </div>
      </div>
  </div>
</section>
<section id="about">
  <div class="container">
      <div class="about-card-block">
          <div class="about-card">
              <div class="card-body aos-init aos-animate" data-aos="fade-right">
                  <p class="card-title">About <span>Tonio</span></p>
                  <div class="card-text">
                      <p>Tonio is dedicated to help people and businesses around the world save, send, and transfer money online and by cash leveraging convenient and easy-to-use interface and beneficial agent’s programs.</p>
                      <p>It means we can reach any point in the globe. Tonio is empowered by global reach, solid infrastructure and a dedicated team of professionals who aim to benefit our customers, colleagues and the broader business.</p>
                  </div>
              </div>
              <div class="card-img aos-init aos-animate" data-aos="fade-left">
                  <img src="assets/images/about1.jpg" alt="remiton team">
              </div>
          </div>
          <div class="about-card">
              <div class="card-body aos-init" data-aos="fade-left">
                  <p class="card-title">Why <span>remittances</span> are
                      so important?</p>
                  <div class="card-text">
                      <p>In this world, so diverse and miscellaneous, remittances are more than just money. We know how it is essential for you to timely send funds to your loved ones to support and help them. And exactly with this aim we decided to create Tonio, a global money transfer system that allows to remit funds worldwide in the most convenient ways – to cards, to accounts and for cash pick-up.</p>
                  </div>
              </div>
              <div class="card-img aos-init" data-aos="fade-right">
                  <img src="assets/images/about2.jpg" alt="payment technology company">
              </div>
          </div>
          <div class="about-card">
              <div class="card-body aos-init" data-aos="fade-right">
                  <p class="card-title"><span>Our</span> mission</p>
                  <div class="card-text">
                      <p>Most of our customers are immigrants - their examples truly inspire us. We do our best to support them in their journey to help their families. We hardly work on making payments affordable to everyone around the globe without the time and rate limitations</p>
                  </div>
              </div>
              <div class="card-img aos-init" data-aos="fade-left">
                  <img src="assets/images/about3.jpg" alt="remiton mission">
              </div>
          </div>
          <div class="about-card">
              <div class="card-body aos-init" data-aos="fade-left">
                  <p class="card-title">Our <span>vision</span></p>
                  <div class="card-text">
                      <p>We are focused on making payments borderless. We provide access to money to everyone around the globe in the currency they are accustomed to, in the most convenient way. We truly believe that by convenient money transfers we can move the world better - from domestic support of your loved ones to economic support of businesses
                      </p>
                  </div>
              </div>
              <div class="card-img aos-init" data-aos="fade-right">
                  <img src="assets/images/about4.jpg" alt="remoton vision">
              </div>
          </div>
      </div>
  </div>
</section>