.title {
  color: white;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin: 0 auto;
  margin-top: 86px;
  max-width: 722px;
  width: 100%;
  margin-bottom: 24px;
}

.subtitle {
  color: #f8f5ff;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  max-width: 455px;
  width: 100%;
  margin-top: 30px;
  margin: 0 auto;
}
.btn-block {
  text-align: center;
  padding-bottom: 38px;
  margin-top: 24px;
}
.button {
  display: inline-flex;
  padding: 10px 24px 11px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  background: #fdcc06;

  /* card shadow */
  box-shadow: 0px 15px 63px 0px rgba(101, 101, 101, 0.08),
    0px 1.878px 7.889px 0px rgba(101, 101, 101, 0.04);
}

#benefit {
  background-color: white;
  padding-top: 64px;
}

.benefit-title {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
}

a {
  text-decoration: none;
}

.custom-card-block {
  display: flex;
  justify-content: space-around;
  margin-top: 65px;
}
.benefit-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 165px;
  width: 100%;
}

#about {
  padding-top: 40px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.about-card {
  display: flex;
  margin-bottom: 104px;
  gap: 88px;
}

.about-card:nth-child(even) {
  flex-direction: row-reverse;
}

.about-card img {
  width: 100%;
  border-radius: 12px;
}

.card-title {
  color: #1c1c1c;

  text-align: center;
  font-family: "Uncut Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 24px;
}

.card-text {
  color: #606060;

  font-family: "Uncut Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
#about .card-text p:not(:last-child) {
  margin-bottom: 15px;
}

.benefit-card p {
  text-align: center;
  margin-top: 0;
}

@media only screen and (max-width: 991px) {
  .about-card,
  .about-card:nth-child(even) {
    flex-direction: column;
    gap: 0;
    margin-bottom: 40px;
  }

  .card-body {
    margin-bottom: 30px;
  }

  .card-img {
    width: 100%;
    max-width: 100%;
  }

  .card-title {
    font-family: "Uncut Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
  }

  .card-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; 
   
  }
}

@media only screen and (max-width: 767px) {
  .custom-card-block {
    flex-wrap: wrap;
  }

  .benefit-card {
    max-width: 47%;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 575px) {
  .title {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 138.462% */
  }

  .subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px; /* 150% */
  }

  .benefit-card {
    max-width: 100%;
  }

  .benefit-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
  }
}
