<h1 class="title">Colaborate with us!</h1>
<h2 class="subtitle">
  Have got any further queries or questions?<br> Just use the form below, and we’ll quickly get back to you!
</h2>
<div class="container">
  <section class="contact-form-wrapper">
    <div class="contact-form">
      <div class="form-row">
        <div class="contact-form-control">
          <label>Name </label>
          <input type="text" name="name" [(ngModel)]="name" placeholder="Name" />
        </div>
        <div class="contact-form-control">
          <label>Surname </label>
          <input type="text" name="name" [(ngModel)]="surname" placeholder="Surname" />
        </div>
      </div>
      <div class="form-row">
        <div class="contact-form-control">
          <label>Company </label>
          <input type="text" name="name" [(ngModel)]="company" placeholder="Company" />
        </div>
        <div class="contact-form-control">
          <label>Country </label>
          <ng-select
            [items]="countries"
            [(ngModel)]="country"
            [clearable]="false"
            [searchable]="false"
          >
            <ng-template ng-label-tmp let-item="item">
              <div class="select-item">
                {{ item }}
              </div>
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div class="select-item">
                {{ item }}
              </div>
            </ng-template>
          </ng-select>
        </div>
      </div>
      <div class="form-row">
        <div class="contact-form-control">
          <label>Email</label>
          <input type="email" name="email" [(ngModel)]="email" placeholder="Email" />
        </div>
        <div class="contact-form-control">
          <label>Contact number</label>
          <input
            type="tel"
            name="phone"
            [(ngModel)]="phone"
            placeholder="Enter phone number"
            id="telephone2"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="contact-form-control contact-textarea">
        <label>Message</label>
        <textarea
          name="message"
          rows="4"
          [(ngModel)]="message"
          placeholder="Share your ideas and opinion"
        ></textarea>
      </div>

      <div class="contact-form-control btn-block">
        <button class="button yellow-btn" (click)="onSend()">Send message</button>
      </div>
    </div>
  </section>
</div>

<div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
  <div id="successToast" class="toast align-items-center bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        Your message was sent successfully!
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>

  <div id="errorToast" class="toast align-items-center bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        Error occurred while sending your message
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>
