<h1 class="title">Colaborate with us!</h1>
<h2 class="subtitle">If you would like to work with Tonio, please use the form below, and we’ll quickly get back to you </h2>
<div class="container">
  <section id="contact-form">
    <div class="contact-form">
      <div class="form-row">
      <div class="contact-form-control">
        <label>Name </label>
        <input
          type="text"
          name="name"
          value=""
          placeholder="Name"
        />
      </div>
      <div class="contact-form-control">
        <label>Surname </label>
        <input
          type="text"
          name="name"
          value=""
          placeholder="Surname"
        />
      </div>
      </div>
      <div class="form-row">
      <div class="contact-form-control">
        <label>Company </label>
        <input
          type="text"
          name="name"
          value=""
          placeholder="Company"
        />
      </div>
      <div class="contact-form-control">
        <label>Country </label>
        <input
          type="text"
          name="name"
          value=""
          placeholder="Country"
        />
      </div>
      </div>
      <div class="form-row">
        <div class="contact-form-control">
          <label>Email</label>
          <input type="email" name="email" value="" placeholder="Email" />
        </div>
        <div class="contact-form-control">
          <label>Contact number</label>
          <input
            type="tel"
            name="phone"
            value=""
            placeholder="Enter phone number"
            id="telephone2"
            autocomplete="off"
            
          />
        </div>
      </div>
      <div class="contact-form-control contact-textarea">
        <label>Message</label>
        <textarea
          name="message"
          rows="4"
          placeholder="Share your ideas and opinion"
        ></textarea>
      </div>

      <div class="contact-form-control btn-block">
        <button class="button yellow-btn">Send message</button>
      </div>
    </div>
  </section>
</div>

