<div class="input-wrapper">
  <input [ngModel]="inputValue()" (ngModelChange)="inputValueChange.emit($event)" />

  <ng-select
    [items]="selectItems()"
    (change)="selectChange.emit($event)"
    [ngModel]="selectedItem()"
    bindLabel="label"
    bindValue="value"
    [clearable]="false"
    [searchable]="false"
  >
    <ng-template ng-label-tmp let-item="item">
      <div class="select-item">
        @if (item.icon) {
          <img [src]="item.icon"  />
        }
        {{ item.label }}
      </div>
    </ng-template>
    <ng-template ng-option-tmp let-item="item">
      <div class="select-item">
        @if (item.icon) {
          <img [src]="item.icon"  />
        }
        {{ item.label }}
      </div>
    </ng-template>
  </ng-select>
</div>
