.title-block {
  display: flex;
    justify-content: center;
    align-items: flex-end;
}

.title-block h2 {
  margin-top: 0;
  margin-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
  width: 444px;
  color: #1C1C1C;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.card-block-title {
  width: 397px;
  margin: 0 auto;
  margin-top: 64px;
  color: #1c1c1c;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
}

.card-block {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  height: 416px;
  width: 389px;
}

.card-header {
  display: flex;
}

.card-header img {
  width: 389px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card-body {
  width: 389px;
  height: 167px;
  flex-shrink: 0;
  border-radius: 0px 0px 16px 16px;
  background: rgba(234, 246, 249, 0.8);
  backdrop-filter: blur(10px);
  padding: 24px;
}

.card-title {
  color: #1C1C1C;

font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
}

.card-subtitle {
  color: #606060;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 27px; /* 150% */
}

.card-icon {
  position: absolute;
  left: calc(50% - 20px);
  top: -20px;
  width: 45px;
  height: 45px;
  background-color: #fdcc06;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-overlay {
  background: rgba(255, 255, 255, 0.9);
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #f6f6f6;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card:hover .card-img-overlay {
  opacity: 1;
  visibility: visible;
}