<section id="receive-money">
  <div class="title-block aos-init aos-animate" data-aos="fade-up">
    <img src="assets/images/arrow-1.svg" class="title-arrow-1" alt="arrow" />
    <h2 class="title"><span>Ways</span> to receive money internationally</h2>
    <img src="assets/images/arrow-2.svg" class="title-arrow-2" alt="arrow" />
  </div>

  <div class="custom-card-block">
    <div class="custom-card aos-init aos-animate" data-aos="fade-up">
      <!-- <div class="custom-card-icon">
        <img src="assets/icons/money.svg" alt="cash pickup" />
      </div> -->
      <div class="custom-card-header">
        <img src="assets/images/visa_union.png" alt="woman picking up cash" />
      </div>
      <div class="custom-card-body">
        <p class="custom-card-title">Cash pickup</p>
        <p class="custom-card-subtitle">
          Pick up cash in one of the agents' points in your country
        </p>
      </div>

      <!-- <div class="custom-card-img-overlay">
        <!-- <div class="custom-card-icon">
          <img src="assets/icons/money.svg" alt="cash pickup" />
        </div> 
        <div class="custom-card-overlay-text">
          <p class="custom-card-title">Cash pickup</p>
          <p class="custom-card-subtitle">
            Pick up cash in one of the agents' points in your country
          </p>
        </div>
        <div class="custom-card-footer">
          <p>Meet our agents around the world</p>
        </div>
      </div> -->
    </div>

    <div class="custom-card aos-init aos-animate" data-aos="fade-up">
      <!-- <div class="custom-card-icon">
        <img src="assets/icons/creditcard.svg" />
      </div> -->
      <div class="custom-card-header">
        <img src="assets/images/sepa.png" alt="men and women transfer money" />
      </div>
      <div class="custom-card-body">
        <p class="custom-card-title">Card topup</p>
        <p class="custom-card-subtitle">
          Transfer money to your loved one’s payment cards using our website
        </p>
      </div>

      <!-- <div class="custom-card-img-overlay">
        <!-- <div class="custom-card-icon">
          <img src="assets/icons/creditcard.svg" alt="card topup" />
        </div> 
        <div class="custom-card-overlay-text">
          <p class="custom-card-title">Card topup</p>
          <p class="custom-card-subtitle">
            Transfer money to your loved one’s payment cards using our website
          </p>
        </div>
        <div class="custom-card-footer">
          <p>Your card your rules</p>
        </div>
      </div> -->
    </div>

    <div class="custom-card aos-init aos-animate" data-aos="fade-up">
      <!-- <div class="custom-card-icon">
        <img src="assets/icons/user.svg" alt="bank account" />
      </div> -->
      <div class="custom-card-header">
        <img src="assets/images/faster-payments.png" alt="men open a bank account" />
      </div>
      <div class="custom-card-body">
        <p class="custom-card-title">Bank account</p>
        <p class="custom-card-subtitle">
          Send and receive funds directly to bank accounts around the world in a
          few simple steps
        </p>
      </div>

      <!-- <div class="custom-card-img-overlay">
        <!-- <div class="custom-card-icon">
          <img src="assets/icons/user.svg" alt="bank account" />
        </div>
        <div class="custom-card-overlay-text">
          <p class="custom-card-title">Bank account</p>
          <p class="custom-card-subtitle">
            Send and receive funds directly to bank accounts around the world in
            a few simple steps
          </p>
        </div>
        <div class="custom-card-footer">
          <p>Easier than it looks</p>
        </div>
      </div> -->
    </div>
  </div>
</section>
