<div class="collaborate-block">
  <h3 class="title">
    Collaborate with Tonio to grow your business and gain additional revenue
  </h3>
</div>
<div class="benefir-wrapper">
  <img class="benefir" [src]="currentCard().imgSrc">
  <div class="custom-card-block">
    @for(card of cards; track card.title) {
      <div class="custom-card" (click)="selectCard(card)" [class.active]="card.title === currentCard().title">
        <p class="custum-card-title">{{ card.title }}</p>
        <p class="costum-card-subtitle">
          {{ card.subtitle }}
        </p>
      </div>
    }
  </div>
</div>
