<div class="collaborate-block">
  <h3 class="title">
    Collaborate with Tonio to grow your business and gain additional revenue for
    your business
  </h3>
</div>
<div class="benefir-wrapper">
  <img class="benefir" src="assets/images/benefir.webp">
  <div class="custom-card-block">
    <div class="custom-card">
      <p class="custum-card-title">Global coverage</p>
      <p class="costum-card-subtitle">
        Access to international (SEPA, SWIFT) and domestic payment systems
      </p>
    </div>
    <div class="custom-card">
      <p class="custum-card-title">Flexible infrastructure</p>
      <p class="costum-card-subtitle">
        Cutting-edge technology for smooth and hassle-free transactions
      </p>
    </div>
    <div class="custom-card">
      <p class="custum-card-title">Beneficial fees</p>
      <p class="costum-card-subtitle">
        Generate revenue on a commissions earned from every transaction and
        increased business traffic
      </p>
    </div>
    <div class="custom-card">
      <p class="custum-card-title">Hassle-free onboarding</p>
      <p class="costum-card-subtitle">
        A dedicated team to navigate and facilitate the onboarding process for
        you
      </p>
    </div>
    <div class="custom-card">
      <p class="custum-card-title">Agent loyalty program</p>
      <p class="costum-card-subtitle">
        Get additional benefits from your referal to other agents
      </p>
    </div>
    <div class="custom-card">
      <p class="custum-card-title">Secure transfers</p>
      <p class="costum-card-subtitle">
        Fully compliant infrastructure for secure and frictionless transactions
      </p>
    </div>
  </div>
</div>
