:host{
display: block;
  padding: 48px 0;
  margin-top: 85px;
}

p {
  margin: 0;
}


.title {
  color: #1C1C1C;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; 
  max-width: 775px;
  width: 100%;
  margin: 0 auto;/* 120% */
}

.custum-card-title{
  color: #1C1C1C;
font-family: "Uncut Sans";
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 33px; /* 150% */
}

.benefir-wrapper {
  display: flex;
  align-items: center;
  gap: 93px;
  justify-content: center;
}

.benefir {
  width: 300px;
}

.custom-card-block {
  display: grid;
  grid-template-columns: 381px 381px;
  column-gap: 34px;
  row-gap: 14px;
  justify-content: center;
  padding-top: 35px;
}

.custom-card {
  padding: 16px;
  border: none;
  display: flex;
  flex-direction:column;
  min-width: 381px;
  width: 100%;
  cursor: pointer;
}

.custom-card.active {
  border: 1px solid var(--Tonio-Main500, #1C1C1C);
  background: #FFF;
  box-shadow: 0px 9px 38px 0px rgba(107, 107, 107, 0.11), 0px 2.01px 8.488px 0px rgba(107, 107, 107, 0.07), 0px 0.599px 2.527px 0px rgba(107, 107, 107, 0.04);
  border-radius: 16px;
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 46px;
    line-height: 52px;
  }
}

@media only screen and (max-width: 575px) {
  .title {
    font-size: 26px;
    line-height: 36px;
  }

  .benefir-wrapper {
    flex-direction: column;
  }

  .custom-card-block {
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
    max-width: 100%;
    justify-content: unset;
    padding: 0 16px;
  }
}