<div class="container">
  <h1 class="title">Connect your business with 
    Tonio and unlock new 
    opportunities for your clients</h1>
  <p class="subtitle">Being Tonio partner or agent you grow revenue and attract customers to your business. Login for sending transactions now!</p>
  <div class="btn-block"><a href="https://agent.tonio.world/auth/login" class="button" target="_blank">Sign in as Agent</a></div>
</div>
  <app-collaborate></app-collaborate>
  <app-steps-to-start></app-steps-to-start>
  <app-contact-form></app-contact-form>
  <app-ready-to-start></app-ready-to-start>