<div class="container">
  <h1 class="title">Connect your business with 
    Tonio and unlock new 
    opportunities for your clients</h1>
  <p class="subtitle">Become Tonio partner or agent to grow 
    revenue and attract customers to your business</p>
  <div class="btn-block"><a href="https://agent.tonio.world/" class="button">Work with us</a></div>
</div>
  <app-steps-to-start></app-steps-to-start>
  <app-collaborate></app-collaborate>
  <app-contact-form></app-contact-form>
  <app-ready-to-start></app-ready-to-start>