:host{
  display: block;
  padding-bottom: 56px;
}
.title {
  color: white;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin: 0 auto;
  margin-top: 86px;
  max-width: 825px;
  width: 100%;
  margin-bottom: 24px;
}

.subtitle {
  color: #f8f5ff;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  max-width: 455px;
  width: 100%;
  margin-top: 30px;
  margin: 0 auto;
}
.btn-block {
  text-align: center;
  padding-bottom: 38px;
  margin-top: 24px;
}
.button {
  display: inline-flex;
  padding: 10px 24px 11px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  background: #fdcc06;

  /* card shadow */
  box-shadow: 0px 15px 63px 0px rgba(101, 101, 101, 0.08),
    0px 1.878px 7.889px 0px rgba(101, 101, 101, 0.04);
}
a {
  text-decoration: none;
}


@media only screen and (max-width: 767px) {
  .title {
    font-size: 46px;
    line-height: 52px;
  }
}

@media only screen and (max-width: 575px) {
  .title {
    font-size: 26px;
    line-height: 36px;
  }
}