.title {
  color: #f8f5ff;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin: 0 auto;
  margin-top: 107px;
  max-width: 722px;
  width: 100%;
}

.subtitle {
  color: #f8f5ff;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  max-width: 455px;
  width: 100%;
  margin: 0 auto;
  margin-top: 24px;
}

#faq {
  padding-top: 0;
  margin-top: 47px;
  padding-bottom: 10px;
  position: relative;
}

.accordion {
  max-width: 850px;
  margin: auto;
  margin-top: 32px;
  background: #ffffff;
  box-shadow: 0px 27px 80px rgba(135, 135, 135, 0.07),
    0px 6.0308px 17.869px rgba(135, 135, 135, 0.0417275),
    0px 1.79553px 5.32008px rgba(135, 135, 135, 0.0282725);
  border-radius: 12px;
  padding: 56px;
}
.accordion-item {
  padding: 14px 30px 14px 40px;
  background: transparent;
  border: 1px solid transparent;
  transition: all 0.2s linear;
}
.accordion-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 18px;
  font-family: "uncutSemiBold";
}
.accordion-subtitle {
  display: none;
  margin-top: 8px;
}

.accordion-item.active {
  background: #f4f6f9;
  border: 1px solid #e4e8f0;
  border-radius: 8px;
}
.accordion-item.active .accordion-icon {
  transform: rotate(180deg);
}

.accordion {
  --bs-accordion-bg: transparent;
  --bs-accordion-btn-focus-box-shadow: unset;
  --bs-accordion-border-width: 0;
  --bs-accordion-btn-icon-width: 16px;
  --bs-accordion-active-bg: transparent;
}

.accordion-item:has(.accordion-collapse.show) {
  border-radius: 8px !important;
  border: 1px solid #e4e8f0 !important;
  background: #f4f6f9 !important;
}

.accordion-button {
  color: #1c1c1c;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.accordion-collapse {
  padding: 0 20px;
}

.sign-up-quote {
  border-radius: 8px;
  border: 1px solid #e4e8f0;
  background: #fafafa;
  display: block;
  padding: 16px;
  margin-top: 6px;
}

.sign-up-list {
  color: #5d6677;
  font-family: "Uncut Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.sign-up-list li:not(:first-child) {
  margin-top: 16px;
}

@media only screen and (max-width: 575px) {
  .title {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 138.462% */
  }
  .subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px; /* 150% */
  }
  .accordion {
    padding: 0;
  }
}
