/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Uncut Sans';
  font-style: normal;
  font-weight: 400;
  src: local(),
    url('assets/fonts/Uncut-Sans-Regular.otf');
}
@font-face {
  font-family: 'Uncut Sans';
  font-style: normal;
  font-weight: 700;
  src: local(),
    url('assets/fonts/Uncut-Sans-Bold.otf');
}
@font-face {
  font-family: 'Uncut Sans';
  font-style: normal;
  font-weight: 600;
  src: local(),
    url('assets/fonts/Uncut-Sans-Semibold.otf');
}
@font-face {
  font-family: 'Uncut Sans';
  font-style: normal;
  font-weight: 500;
  src: local(),
    url('assets/fonts/Uncut-Sans-Medium.otf');
}

body {
  font-family: 'Uncut Sans';
  margin: 0;
}

* {
  box-sizing: border-box;
}