<section id="signup-block">
  <div class="bg-container">
    <div class="bg-color"></div>
    <div class="bg"></div>
  </div>
  <h3 class="title aos-init aos-animate" data-aos="fade-up">
    Sign up to remit money today!
  </h3>
  <div class="signup-info-block">
    <div class="signup-info-left-block">
      <div class="signup-info-card aos-init aos-animate" data-aos="fade-right">
        <div class="signup-info-card-header">
          <img src="assets/icons/sign-up-1.png" alt="open banking" />
        </div>
        <p class="signup-info-card-text">
          Fast and easy sign up. It’s easy to sign up and start sending money
          reliably
        </p>
      </div>
      <div class="signup-info-card aos-init aos-animate" data-aos="fade-right">
        <div class="signup-info-card-header">
          <img src="assets/icons/sign-up-2.png" alt="track your transfer" />
        </div>
        <p class="signup-info-card-text">
          Track your transfer. Get real-time updates on the status of any
          transfer
        </p>
      </div>
      <div class="signup-info-card aos-init aos-animate" data-aos="fade-right">
        <div class="signup-info-card-header">
          <img
            src="assets/icons/sign-up-3.png"
            alt="pay via cash card or account transfers"
          />
        </div>
        <p class="signup-info-card-text">
          Get best rates for transfers and proper 24/7 support by our team for any queries
        </p>
      </div>
      <div class="signup-info-card aos-init aos-animate" data-aos="fade-right">
        <div class="signup-info-card-header">
          <img src="assets/icons/sign-up-4.png" alt="cash pickup" />
        </div>
        <p class="signup-info-card-text">
          Send anywhere worldwide. Our payout options are being enhanced, having now 150+ countries
        </p>
      </div>
    </div>
    <div class="signup-info-right-block">
      <img
        src="assets/images/signup.png"
        data-aos="fade-left"
        alt="signup"
        class="aos-init aos-animate"
      />
    </div>
  </div>
</section>
