:host {
  background: linear-gradient(86deg, #1c1b1b 50.39%, #fdcc06 111.1%);
  color: #fff;
}

.title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 50px 0;
}

.signup-info-block {
  display: flex;
  gap: 37px;
}

.signup-info-left-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
  margin-left: 110px;
}
.signup-info-card {
  display: flex;
  gap: 26px;
  align-items: center;
}

.signup-info-card img {
  width: 55px;
  height: 58px;
  padding: 6px;
  background-color: #fff;
  border-radius: 12px;
}

.signup-info-right-block {
  width: 850px;
  align-self: flex-end;
}

.signup-info-right-block img {
  width: 850px;
}

@media only screen and (max-width: 1370px) {
  :host {
    padding-bottom: 41px;
  }
  
  .signup-info-block {
    flex-direction: column;
    align-items: center;
  }

  .signup-info-left-block {
    order: 2;
  }

  .signup-info-right-block {
    order: 1;
    align-self: unset;
  }
}