<div class="container">
  <h1 class="title">Blog / News</h1>
  <p class="subtitle">
    The latest news and blogs about our services, our partners and customers.
    Follow us to stay in track of the updates in the world of remittances
  </p>
</div>
<div class="card-blocks">
  <div class="blog-card aos-init aos-animate" data-aos="fade-up">
    <div class="blog-card-header">
      <img src="assets/images/blog/blog_1.png" />
    </div>
    <div class="blog-card-body">
      <div class="blog-card-title">The Evolution of Money Transfers</div>
      <div class="blog-card-subtitle">
        The way we send and receive money has dramatically changed over the years.
        From traditional bank transfers and postal services to modern digital platforms, the evolution of money transfers is a fascinating journey. 
       
      </div>
      <!-- <div class="blog-card-date">11 Jan 2023</div> -->
      <a
        routerLink="/blog/blog-one"
        class="blog-card-btn"
        >Read more</a
      >
    </div>
  </div>
  <div class="blog-card aos-init aos-animate" data-aos="fade-up">
    <div class="blog-card-header">
      <img src="assets/images/blog/blog_2.png" />
    </div>
    <div class="blog-card-body">
      <div class="blog-card-title">Top 5 Benefits of Using Tonio for International Money Transfers</div>
      <div class="blog-card-subtitle">
        In today’s fast-paced world, the need to send and receive money across borders quickly and securely is more important than ever.
      </div>
      <!-- <div class="blog-card-date">11 Jan 2023</div> -->
      <a routerLink="/blog/blog-two" class="blog-card-btn"
        >Read more</a
      >
    </div>
  </div>
  <div class="blog-card aos-init aos-animate" data-aos="fade-up">
    <div class="blog-card-header">
      <img src="assets/images/blog/blog_3.png" />
    </div>
    <div class="blog-card-body">
      <div class="blog-card-title">Understanding the Future of Open Banking and Its Impact on Money Transfers</div>
      <div class="blog-card-subtitle">
        The financial industry is on the cusp of a significant transformation, thanks to the advent of open banking.
      </div>
      <!-- <div class="blog-card-date">11 Jan 2023</div> -->
      <a routerLink="/blog/blog-three" class="blog-card-btn"
        >Read more</a
      >
    </div>
  </div>
  <div class="blog-card aos-init aos-animate" data-aos="fade-up">
    <div class="blog-card-header">
      <img src="assets/images/blog/blog_4.png" />
    </div>
    <div class="blog-card-body">
      <div class="blog-card-title">The Impact of International Money Transfers on Global Economies</div>
      <div class="blog-card-subtitle">
        International money transfers play a crucial role in the global economy.
      </div>
      <!-- <div class="blog-card-date">11 Jan 2023</div> -->
      <a routerLink="/blog/blog-four" class="blog-card-btn"
        >Read more</a
      >
    </div>
  </div>
  <div class="blog-card aos-init aos-animate" data-aos="fade-up">
    <div class="blog-card-header">
      <img src="assets/images/blog/blog_5.png" />
    </div>
    <div class="blog-card-body">
      <div class="blog-card-title">The Role of Fintech in Making Payments Borderless</div>
      <div class="blog-card-subtitle">
        The advent of fintech has revolutionized the financial services industry, making it easier and more efficient for people to conduct transactions globally.
      </div>
      <!-- <div class="blog-card-date">11 Jan 2023</div> -->
      <a routerLink="/blog/blog-four" class="blog-card-btn"
        >Read more</a
      >
    </div>
  </div>
  <div class="blog-card aos-init aos-animate" data-aos="fade-up">
    <div class="blog-card-header">
      <img src="assets/images/blog/blog_6.png" />
    </div>
    <div class="blog-card-body">
      <div class="blog-card-title">The Future of Remittances: Trends to Watch in 2024</div>
      <div class="blog-card-subtitle">
        The remittance industry has undergone significant changes over the past few decades, driven by advancements in technology and shifts in global economic dynamics.
      </div>
      <!-- <div class="blog-card-date">11 Jan 2023</div> -->
      <a routerLink="/blog/blog-six" class="blog-card-btn"
        >Read more</a
      >
    </div>
  </div>
</div>
