<div class="container">
  <h1 class="title">Blog / News</h1>
  <p class="subtitle">
    The latest news and blogs about our services, our partners and customers.
    Follow us to stay in track of the updates in the world of remittances
  </p>
</div>
<div class="card-blocks">
  <div class="blog-card aos-init aos-animate" data-aos="fade-up">
    <div class="blog-card-header">
      <img src="assets/images/blog/blog_1.png" />
    </div>
    <div class="blog-card-body">
      <div class="blog-card-title">UX review presentations</div>
      <div class="blog-card-subtitle">
        Those who had asked for more information about hobbits eventually got
        it, but they had to wait a long time;
      </div>
      <div class="blog-card-date">11 Jan 2023</div>
      <a
        routerLink="/blog/blog-one"
        class="blog-card-btn"
        >Read more</a
      >
    </div>
  </div>
  <div class="blog-card aos-init aos-animate" data-aos="fade-up">
    <div class="blog-card-header">
      <img src="assets/images/blog/blog_2.png" />
    </div>
    <div class="blog-card-body">
      <div class="blog-card-title">UX review presentations</div>
      <div class="blog-card-subtitle">
        Those who had asked for more information about hobbits eventually got
        it, but they had to wait a long time;
      </div>
      <div class="blog-card-date">11 Jan 2023</div>
      <a routerLink="/blog/blog-two" class="blog-card-btn"
        >Read more</a
      >
    </div>
  </div>
  <div class="blog-card aos-init aos-animate" data-aos="fade-up">
    <div class="blog-card-header">
      <img src="assets/images/blog/blog_2.png" />
    </div>
    <div class="blog-card-body">
      <div class="blog-card-title">UX review presentations</div>
      <div class="blog-card-subtitle">
        Those who had asked for more information about hobbits eventually got
        it, but they had to wait a long time;
      </div>
      <div class="blog-card-date">11 Jan 2023</div>
      <a routerLink="/blog/blog-three" class="blog-card-btn"
        >Read more</a
      >
    </div>
  </div>
</div>
