.title {
  color: #f8f5ff;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;

  margin-bottom: 24px;
}
.subtitle {
  color: #f8f5ff;
  text-align: center;
  font-family: "Uncut Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 56px;
}
#check-status .container {
  max-width: 640px;
  margin: auto;
  background: #ffffff;
  border-radius: 12px;
  padding: 41px 45px;
}
.check-status-input {
  position: relative; 
}
.check-status-block label {
  color: #1C1C1C;
  font-family: "Uncut Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 7px;
  display: block;
}
.check-status-block .check-status-input input {
  background: #f4f6f9;
  border: 1px solid #e4e8f0;
  border-radius: 10px;
  width: 100%;
  height: 56px;
  padding-left: 16px;
  color: #1C1C1C;
  font-family: "Uncut Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.check-status-input input::placeholder {
  color: #828A96;
}
.check-status-block .check-status-input .button {
  background: #fdcc06;
  border-color: #fdcc06;
  color: #1C1C1C;
  font-family: "Uncut Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  right: 4px;
  top: 4px;
  height: 48px;
  cursor: pointer;
}
.button {
  font-family: "uncutSemiBold";
  font-size: 15px;
  line-height: 19px;
  background: white;
  padding: 10px 24px;
  border-radius: 8px;
  white-space: nowrap;
  border: 1px solid white;
}
.payment-status-block .check-after.default p {
  color: #828a96;
  font-family: "uncutMedium";
  font-size: 18px;
  line-height: 27px;
}
.payment-status-block .payment-status-title {
  color: #16294e;
  font-family: "uncutSemiBold";
  font-size: 18px;
  line-height: 22px;
}
